$cpacicon-bulk-edit: "\ea01";
$cpacicon-delete: "\ea02";
$cpacicon-download: "\ea03";
$cpacicon-draft: "\ea04";
$cpacicon-duplicate: "\ea05";
$cpacicon-filter: "\ea06";
$cpacicon-gf-article: "\ea07";
$cpacicon-gf-auto-stories: "\ea08";
$cpacicon-gf-comment: "\ea09";
$cpacicon-gf-label: "\ea0a";
$cpacicon-gf-media: "\ea0b";
$cpacicon-gf-user: "\ea0c";
$cpacicon-more: "\ea0d";
$cpacicon-move: "\ea0e";
$cpacicon-rename: "\ea0f";
$cpacicon-reset-password: "\ea10";
$cpacicon-segment: "\ea11";
$cpacicon-smart-filter: "\ea12";
$cpacicon-text-clip: "\ea13";
$cpacicon-text-wrap: "\ea14";
$cpacicon-user-switch: "\ea15";
$cpacicon-woo: "\ea16";

@font-face {
    font-family: "cpac_icons";
    src:
        url("../fonts/cpac_icons.woff2?v=187999") format("woff2"),
        url("../fonts/cpac_icons.woff?v=8083") format("woff");
    font-style: normal;
    font-weight: 400;
}

%cpacicon, [class^="cpacicon-"], [class*=" cpacicon-"] {
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 14px/1 cpac_icons;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.cpacicon {
    @extend %cpacicon;
}



.cpacicon-bulk-edit::before {
    content: $cpacicon-bulk-edit;
}

.cpacicon-delete::before {
    content: $cpacicon-delete;
}

.cpacicon-download::before {
    content: $cpacicon-download;
}

.cpacicon-draft::before {
    content: $cpacicon-draft;
}

.cpacicon-duplicate::before {
    content: $cpacicon-duplicate;
}

.cpacicon-filter::before {
    content: $cpacicon-filter;
}

.cpacicon-gf-article::before {
    content: $cpacicon-gf-article;
}

.cpacicon-gf-auto-stories::before {
    content: $cpacicon-gf-auto-stories;
}

.cpacicon-gf-comment::before {
    content: $cpacicon-gf-comment;
}

.cpacicon-gf-label::before {
    content: $cpacicon-gf-label;
}

.cpacicon-gf-media::before {
    content: $cpacicon-gf-media;
}

.cpacicon-gf-user::before {
    content: $cpacicon-gf-user;
}

.cpacicon-more::before {
    content: $cpacicon-more;
}

.cpacicon-move::before {
    content: $cpacicon-move;
}

.cpacicon-rename::before {
    content: $cpacicon-rename;
}

.cpacicon-reset-password::before {
    content: $cpacicon-reset-password;
}

.cpacicon-segment::before {
    content: $cpacicon-segment;
}

.cpacicon-smart-filter::before {
    content: $cpacicon-smart-filter;
}

.cpacicon-text-clip::before {
    content: $cpacicon-text-clip;
}

.cpacicon-text-wrap::before {
    content: $cpacicon-text-wrap;
}

.cpacicon-user-switch::before {
    content: $cpacicon-user-switch;
}

.cpacicon-woo::before {
    content: $cpacicon-woo;
}
