$cpacicon-bulk-edit: "\ea01";
$cpacicon-download: "\ea02";
$cpacicon-draft: "\ea03";
$cpacicon-move: "\ea04";
$cpacicon-segment: "\ea05";
$cpacicon-smart-filter: "\ea06";

@font-face {
    font-family: "cpac_icons";
    src:
        url("../fonts/cpac_icons.woff2?v=128224") format("woff2"),
        url("../fonts/cpac_icons.woff?v=509000") format("woff");
    font-style: normal;
    font-weight: 400;
}

%cpacicon, [class^="cpacicon-"], [class*=" cpacicon-"] {
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 14px/1 cpac_icons;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.cpacicon {
    @extend %cpacicon;
}



.cpacicon-bulk-edit::before {
    content: $cpacicon-bulk-edit;
}

.cpacicon-download::before {
    content: $cpacicon-download;
}

.cpacicon-draft::before {
    content: $cpacicon-draft;
}

.cpacicon-move::before {
    content: $cpacicon-move;
}

.cpacicon-segment::before {
    content: $cpacicon-segment;
}

.cpacicon-smart-filter::before {
    content: $cpacicon-smart-filter;
}
