@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.acui-button {
	border: 1px solid #616D77;
	position: relative;
	background: transparent;
	border-radius: 4px;
	padding: 10px 15px;
	color: #1E293B;
	cursor: pointer;
	text-decoration: none;
	line-height: 18px;


	&:hover, &:focus, &:active {
		border-color: #111;
	}

	&:disabled {
        border-color: #C4C4C4 !important;
        background: #E6E6E6 !important;
        cursor: not-allowed !important;
		color: #aaa !important;
    }

	&.-small {
		padding-top: 6px;
		padding-bottom: 6px;
	}

}

.acui-button.acui-button-text {
	border-color: transparent;
	background: transparent;
}

.acui-button .acui-icon .dashicons {
	transform: translateY(-2px);
}

.acui-button :global(.acui-icon),
.acui-button .dashicons {
	transform: translateY(-2px);
}

.acui-button.is-loading {
	color: transparent;
	pointer-events: none;
}

.acui-button.is-loading:before {
	border: 2px solid var(--acui-loading-color, #1E293B);
	border-radius: 9999px;
	border-right-color: transparent;
	border-top-color: transparent;
	content: "";
	display: block;
	height: 14px;
	position: absolute;
	width: 14px;
	left: calc(50% - 7px);
	top: calc(50% - 10px);
	animation-name: spin;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.acui-button-primary {
	background-color: var(--ac-primary-color);
	color: #fff;

	&:hover, &:active, &:focus {
		background-color: var(--ac-primary-color-hover);
		color: #fff;
	}

	&.is-loading:before {
		border: 2px solid var(--acui-loading-color, #fff);
		border-right-color: transparent;
		border-top-color: transparent;
	}
}

.acui-button-pink {
	background-color: var(--ac-pink-color);
	color: #fff;

	&:hover, &:active, &:focus {
		background-color: var(--ac-pink-color);
		color: #fff;
	}
}