.acui-datepicker {

}

.acui-datepicker-header {
	display: flex;
	align-items: center;
	margin: 0 4px;
	padding: 2px 0;
	border-bottom: 1px solid #eee;

	&__controls {
		flex-grow: 1;
		display: flex;
		justify-content: center;

		select {
			 width: 100%;
		}
	}

	button.acui-datepicker-button {
		background: none;
		border: none;
		&:hover {
			color: var(--ac-primary-color)
		}
	}
}


.acui-datepicker-positioning {
	position: relative;
	display: block;
	overflow: hidden;
	width: 260px;
}

.acui-datepicker-month-container {

	&.-prev, &.-next {
		position: absolute;
		top: 0;
		bottom: 0;
	}
	&.-prev {
		right: 120%;
	}
	&.-next {
		left: 120%;
	}
}



.acui-datepicker-months {
	display: flex;
	flex-wrap: wrap;
}

.acui-datepicker-months button {
	flex: 33%;
	background: none;
	border: 1px solid transparent;
	height: 40px;
	cursor: pointer;
}

.acui-datepicker-months button:hover {
	background: var(--ac-button-bg);
}

.acui-datepicker-months button.-active {
	background: var(--ac-primary-color);
	color: #fff;
	border-radius: 3px;
}