.acui-dropdown {
	--acui-dropdown-text-color: var(--ac-text-color);
	--acui-dropdown-hover-background: var(--ac-primary-color);
	--acui-dropdown-hover-color: #fff;

	position: relative;
	display: inline-block;
}

.acui-dropdown-menu {
	position: absolute;
	top: 100%;
	background: #FFFFFF;
	box-shadow: 0 9px 24px 0 rgba(15,15,15,0.20), 0 3px 6px 0 rgba(15,15,15,0.10), 0 0 0 1px rgba(15,15,15,0.05);
	border-radius: 2px;

	min-width: 200px;
	padding: 8px 0;
	z-index: var(--menu-z-index, 20);
	overflow:auto;
}

.acui-dropdown-menu.-bottom-left {
	right: 0;
}

.acui-dropdown-item {
	margin: 0 2px;
	padding: 6px 10px;
	cursor: pointer;
	display: block;
	white-space: nowrap;
	text-decoration: none;
	color: var(--acui-dropdown-text-color);

	&:hover,
	&:focus {
		background: var(--acui-dropdown-hover-background);
		color: var( --acui-dropdown-hover-color );
		border-radius: 5px;
	}
}