.acui-radio {
	display: flex;
	margin-bottom: var( --AcuiRadioMarginBottom, 0 );

	input {
		position: absolute;
		left: 0;
		opacity: 0;
		outline: none;
		z-index: -1;

		&:checked {
			+ .acui-radio__check {
				border-color: var(--ac-primary-color);
			}

			+ .acui-radio__check {
				display: flex;
				align-items: center;
				justify-content: center;

				&:before {
					content: '';
					display: block;
					width: 9px;
					height: 9px;
					border-radius: 50%;
					background: #fff;
					background: var(--ac-primary-color);
				}
			}
		}

		&:focus {
			+ .acui-radio__check {
				box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--ac-primary-color);
			}
		}

		&[disabled] {
			+ .acui-radio__check {
				cursor: not-allowed;
				filter: grayscale(100%);
				opacity: .7;
			}
		}
	}

	&__check {
		position: relative;
		display: inline-block;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		background: #fff;
		border: 1px solid #8c8f94;
		transform: scale(80%) translateY(-2px);
		margin-right: 5px;
		text-align: center;
	}

}