.acui-notifications {
	position: fixed;
	flex-direction: column;
	display: flex;
	bottom: 0;
	left: 160px;
	z-index: 100000;
	padding: 4em;

	> * {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.acui-notification {
	padding: 15px;
	border-radius: 5px;
	position: relative;
	background: #bbb;

	.acui-notification-close {
		background: rgba(0, 0, 0, .2);
		border: none;
		position: absolute;
		right: 5px;
		top: 5px;
		height: 19px;
		width: 19px;
		border-radius: 50%;
		cursor: pointer;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			color: #fff;
			font-size: 16px;
			width: 16px;
			height: 16px;
		}

		&:hover {
			background: rgba(0, 0, 0, .3);
		}

	}

	&.-success {
		background: var(--ac-notification-green);
		color: #fff;
	}

	&.-warning {
		background: var(--ac-notification-yellow);
	}

	&.-error {
		background: var(--ac-notification-red);
		color: #fff;
	}

	&.-closable {
		padding-right: 30px;
	}
}