.acui-toggle-buttons {

	.button {
		border-radius: 0;

		.dashicons {
			transform: translateY(4px);
		}

		&:active, &:focus {
			box-shadow: none!important;
		}

	}
	.button.button-primary {
		padding-left: 3px;
	}

}

.acui-button {
	background :#f6f7f7;
	border-color: var(--ac-primary-color);
}