.ac-pointer-modal-container {
	position: absolute;
	z-index: 100000;
	width: 500px;
}

.ac-pointer-modal {
	background: #fff;
	border: 1px solid #000;

	&__content {
		img {
			max-width: calc(100% - 30px);
			margin: 0 15px;
			height: auto;
		}

		h3 {
			background: var(--ac-primary-color);
			color: #fff;
			padding: 15px;
			font-weight: 400;
			font-size: 14px;
			margin: 0;
			margin-bottom: 10px;
		}

		p {
			padding: 0 15px;
			margin-bottom: 10px;
		}
	}

	&__arrow {
		display: block;
		width: 10px;
		height: 10px;
		border-left: 1px solid #000;
		border-bottom: 1px solid #000;

		position: absolute;
		background: #fff;
		top: 50%;
		transform: translateY(-5px) rotate(45deg);
		left: -5px;

		&[data-pos="left"] {
			left: inherit;
			right: -5px;
			transform: translateY(-5px) rotate(-135deg);
		}

	}

}