
[data-component="ac-json"] {
	overflow-x: scroll;
	width: 100%;
	font-size: 12px !important;

	> div > ul {
		margin-left: 0;
		padding-left: 10px;
	}

	ul {
		font-size: 13px !important;
	}

	&::-webkit-scrollbar {
		display: none;
	}

	.arrow {
		width: auto;
		height: auto;
		left: inherit;
		bottom: inherit;
	}

	.root {
		white-space: nowrap;

		> .container {
			padding-left: 10px;

			.arrow {
				margin-left: -6px;
			}
		}
	}

	li.indent {
		white-space: nowrap;
	}

	ul ul .root {
		display: none !important;
	}

	.acp-hts-wrapper & {
		.root {
			white-space: normal;
		}
	}
}