$modalZindex: 10000000000;
.ac-value-modal {
	$e: &;

	.ac-value-modal-background {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: $modalZindex;
		background: rgba(0, 0, 0, .6);
	}

	.ac-value-modal-panel {
		z-index: $modalZindex + 1;
		position: fixed;
		top: 50%;
		left: 50%;
		background: #fff;
		width: 600px;
		transform: translateX(-50%) translateY(-50%);

		&__header {
			background: #fafafa;
			border-bottom: 1px solid #ccc;
			text-align: right;
			display: flex;

			.ac-value-modal-title {
				flex-grow: 1;
				text-align: left;
				display: flex;
				align-items: center;

				h2 {
					margin: 0;
					padding: 10px 20px;
				}
			}
			.ac-value-modal-actions {
				width: 100px;
				display: flex;
				align-items: center;
				justify-content: flex-end;

				button {
					border: none;
					background-color: transparent;
					cursor: pointer;
					border-left: 1px solid #ccc;
					display: block;
					width: 50px;
					height: 50px;

				}
			}
		}

		&__body {
			padding: 20px;

			video {
				display: block;
			}
		}

		&__footer {
			display: flex;
			justify-content: flex-end;
			border-top: 1px solid #ccc;
			background: #fafafa;

			button {
				width: 30px;
				height: 30px;
				border: none;
				border-left: 1px solid #ccc;
				cursor: pointer;
				background: none;
			}
		}
	}

	&.-nopadding {
		.ac-value-modal-panel__body {
			padding: 0;
		}
	}

}