$cpac_icons-draft: "\ea01";
$cpac_icons-move: "\ea02";
$cpac_icons-segment: "\ea03";

@font-face {
    font-family: "cpac_icons";
    src: url("./cpac_icons.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
}

%cpac_icons, [class^="cpac_icons-"], [class*=" cpac_icons-"] {
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 14px/1 cpac_icons;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.cpac_icons {
    @extend %cpac_icons;
}



.cpac_icons-draft::before {
    content: $cpac_icons-draft;
}

.cpac_icons-move::before {
    content: $cpac_icons-move;
}

.cpac_icons-segment::before {
    content: $cpac_icons-segment;
}
