@mixin createPaddingUtilities( $number, $unit ) {
	.acu-p-#{$number} {
		padding: $unit;
	}
	.acu-py-#{$number} {
		padding-top: $unit;
		padding-bottom: $unit;
	}
	.acu-px-#{$number} {
		padding-left: $unit;
		padding-right: $unit;
	}
	.acu-pt-#{$number} {
		padding-top: $unit;
	}
	.acu-pb-#{$number} {
		padding-bottom: $unit;
	}
	.acu-pl-#{$number} {
		padding-left: $unit;
	}
	.acu-pr-#{$number} {
		padding-right: $unit;
	}
}

@mixin createMarginUtilities( $number, $unit ) {
	.acu-m-#{$number} {
		padding: $unit;
	}
	.acu-my-#{$number} {
		padding-top: $unit;
		padding-bottom: $unit;
	}
	.acu-mx-#{$number} {
		padding-left: $unit;
		padding-right: $unit;
	}
	.acu-mt-#{$number} {
		padding-top: $unit;
	}
	.acu-mb-#{$number} {
		padding-bottom: $unit;
	}
	.acu-ml-#{$number} {
		padding-left: $unit;
	}
	.acu-mr-#{$number} {
		padding-right: $unit;
	}
}

@include createPaddingUtilities(0, 0);
@include createPaddingUtilities(1, 5px);
@include createPaddingUtilities(2, 10px);
@include createPaddingUtilities(3, 15px);

@include createMarginUtilities(0, 0);
@include createMarginUtilities(1, 5px);
@include createMarginUtilities(2, 10px);
@include createMarginUtilities(3, 15px);