$icon-draft: "\ea01";
$icon-move: "\ea02";

@font-face {
    font-family: cpac_icons;
    src: url("../fonts/cpac_icons.eot");
    src: url("../fonts/cpac_icons.eot?#iefix") format("embedded-opentype"), url("../fonts/cpac_icons.woff2") format("woff2"), url("../fonts/cpac_icons.woff") format("woff"), url("../fonts/cpac_icons.ttf") format("truetype"), url("../fonts/cpac_icons.svg#cpac_icons") format("svg");
    font-style: normal;
    font-weight: 400;
}

%icon {
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 14px/1 cpac_icons;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.icon {
    @extend %icon;
}

.icon-lg {
    vertical-align: -15%;
    line-height: 0.75em;
    font-size: 1.33333333em;
}

.icon-2x {
    font-size: 2em;
}

.icon-3x {
    font-size: 3em;
}

.icon-4x {
    font-size: 4em;
}

.icon-5x {
    font-size: 5em;
}

.icon-fw {
    width: 1.28571429em;
    text-align: center;
}

.icon-draft::before {
    content: "\ea01";
}

.icon-move::before {
    content: "\ea02";
}
