@font-face {
	font-family: "<%= fontName %>";
	src: url('<%= fontPath %><%= fontName %>.woff') format('woff');
}
$font-icons : "<%= fontName %>";
[class^="cpacicon-"], [class*=" cpacicon-"] {
	font-family: '<%= fontName %>';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:before {
		font-size: 100%;
	}
}

<% _.each(glyphs, function( glyph ) { %>$icon-<%= glyph.name %> : "\<%= glyph.unicode.toString(16).toUpperCase() %>";
.cpacicon-<%= glyph.name %>:before {
	content: $icon-<%= glyph.name %>;
}
<% }); %>

/* Dynamic variables */
<% _.each(glyphs, function( glyph ) { %>$icon-<%= glyph.name %> : "\<%= glyph.unicode.toString(16).toUpperCase() %>";
<% }); %>


@mixin iconfont() {
	font-family: '<%= fontName %>';
	font-size: 100%;
}