#cpac {
/* 	overflow: hidden; */
}
#cpac .postbox {
	margin: 0 10px 10px 0;
}
#cpac .cpac-menu {
	clear: both;
	overflow: hidden;
	margin-right: 276px;
}
#cpac .cpac-menu .subsubsub {
	white-space: normal;
	margin-right: 14px;
}
#cpac .cpac-settings-link {
	float: right;
	float: right;
	margin: 12px 14px 5px 0;
	background: transparent url('../images/settings.png') no-repeat 0 0;
	padding-left: 20px;
	text-decoration: none;
	display: inline-block;
	line-height: 16px;
}
#cpac .cpac-settings-link.current {
	font-weight: bold;
}
#cpac .cpac-col-left {
	/* width: 70%; */
	clear: left;
    float: left;
    margin-right: -2000px;
    width: 100%;
}
#cpac .cpac-col-left .metabox-holder {
	margin-right: 276px;
}
#cpac .cpac-col-right {
	/* width: 20%; */
	margin-right: auto;
    width: 266px;
	float: right;
    position: relative;
	clear: right;
}
#cpac .cpac-col-right .inside {
	padding: 0 10px;
}
#icon-codepress-admin-columns {
	background: transparent url('../images/icon.png') no-repeat 0 0;
}

/* =General settings
-------------------------------------------------------------- */
#general-cpac-settings > .inside {
	padding: 0;
	margin: 0;
}
#general-cpac-settings table.form-table {
	margin: 0;
	padding: 0;
	border-collapse: separate;
	border-spacing: 0;
}
#general-cpac-settings table th,
#general-cpac-settings table td {
    vertical-align: top;
	border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #FFFFFF;
}
#general-cpac-settings table th.cpac_post_type {
	width: 18%;
	font-weight: bold;	
}
#general-cpac-settings table.form-table tr.bottom th,
#general-cpac-settings table.form-table tr.bottom td {
	border-bottom: none;
}
#general-cpac-settings a.go-to-screen {
	display: block;
	padding: 5px 0;	
	font-weight: normal;
	text-decoration: none;
}
#general-cpac-settings .cpac-box {
	position: relative;
}
#general-cpac-settings .cpac-option-list {
	overflow: hidden;
	width: 360px;
	margin-bottom: 5px;	
}
#general-cpac-settings .cpac-reorder-msg {
	background: transparent url('../images/reorder_arrow.png') no-repeat scroll 0 0;
	margin-left: 5px;
	height: 23px;
	line-height: 25px;
	padding-left: 25px;
	color: #727272;
	font-size: 12px;
	font-family: 'Trebuchet MS', Arial, Verdana;
	font-style: italic;
	clear: both;
}
#general-cpac-settings .cpac-option-list li {
	margin: 5px 0;
	position: relative;
	overflow: hidden;
	width: 320px;
    box-shadow: 1px #FFFFFF;
    text-shadow: 0 1px 0 #FFFFFF;
	background-color: #F1F1F1;	
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(top, #f9f9f9, #ececec);
	border-radius: 3px 3px 3px 3px;
    border: 1px solid #cbcbcb;    
	margin-top: 1px;
}
#general-cpac-settings .cpac-option-list li .cpac-sort-handle {
	background: transparent url('../images/sort.png') no-repeat 5px 5px;
	width: 20px;
	height: 26px;
	float: left;
	cursor: move;
	position: relative; z-index: 10;
}
#general-cpac-settings .cpac-option-list li .cpac-checkbox {
	margin-top: 5px;
	width: 16px;
	height: 15px;
	cursor: pointer;
	background: transparent url('../images/checkbox.png') no-repeat 0 0;
}
#general-cpac-settings .cpac-option-list li.active .cpac-checkbox {
	background-position: 0 -15px;
}
#general-cpac-settings .cpac-option-list li .cpac-type-options {
	float: left;
	padding: 0;
	position: relative;
	width: 222px;
	overflow: hidden;
	height: 26px;
}
#general-cpac-settings .cpac-option-list li .cpac-type-options label {
	position: absolute;
	left: 22px;
	top: 5px;
	display: block;
	margin-right: 30px;
	overflow: hidden;
	height: 17px;
	line-height: 17px;
}
#general-cpac-settings .cpac-option-list li .cpac-type-options input {
	margin-top: 6px;
	cursor: pointer;
}
#general-cpac-settings .cpac-option-list li div.cpac-meta-title {
	position: absolute;
	right: 0;
	top: 0;
	color: #999999;
}
#general-cpac-settings .cpac-option-list li a.cpac-action {
	background: transparent url('../images/arrows.png') no-repeat scroll 50% 5px;
	height: 26px;
    width: 24px;
	float: right;
	display: block;
	text-indent: -999em;
	overflow: hidden;
}
#general-cpac-settings .cpac-option-list li.opened a.cpac-action {}
#general-cpac-settings .cpac-option-list li.active a.cpac-action {
	background-position: 50% -66px;
}
#general-cpac-settings .cpac-option-list li.active.opened a.cpac-action {}
#general-cpac-settings .cpac-option-list li div.cpac-meta-title span {
	display: inline-block;
	margin: 5px 5px 0 0;
	float: right;
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside {
	display: none;
	float: none;
	clear: both;
	background: #fbfbfb;
	border-top: 1px solid #DFDFDF;
	padding: 5px 10px;
}
#general-cpac-settings .cpac-option-list li a.cpac-delete-custom-field-box {
	display: inline-block;
	border-bottom: 1px solid #FF0000;
    color: #FF0000;
	text-decoration: none;
	text-shadow: none;
	padding: 0 3px;
}
#general-cpac-settings .cpac-option-list li a.cpac-delete-custom-field-box:hover {
	background-color: #FF0000;
    border-bottom-color: #FF0000;
    color: #FFFFFF;
	text-decoration: none;	
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside label {
	width: 100px;
	display: inline-block;
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside input,
#general-cpac-settings .cpac-option-list li .cpac-type-inside select {
	width: 184px;
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside input.input-width {
	min-width: 25px;
	width: 25px;
	border: none;
	background: transparent;
	padding: 0;
	margin-left: 0px;
	text-align: right;
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside div.input-width-range {
	display: inline-block;
	min-width: 136px;
	width: 136px;
	margin: 8px 0 0;
	position: relative;	
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside div.input-width-range .ui-slider-handle {
	cursor:e-resize;
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside div.description {
	display: inline-block;
	font-size: 11px;
	padding: 0 4px 0 0;
	width: 36px;
}
#general-cpac-settings .cpac-add-column a {
	display: block;
}
#general-cpac-settings .cpac-option-list li.cpac-placeholder {
	border: 1px dashed #666;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 320px;
	background: transparent;
}
#general-cpac-settings .cpac-add-customfield-column {
	position: absolute;
	bottom: 30px;
	left: 360px;
}
#general-cpac-settings .cpac-option-list li.deleting {
	background: #CFADB3;
    border: 1px solid #CFADB3;
    color: #832525;
	text-shadow: none;
}
#general-cpac-settings .cpac-option-list li.active {
	background-color: #c7c7c7;	
 	background-image: -ms-linear-gradient(top, #e9e9e9, #c7c7c7);
	background-image: -moz-linear-gradient(top, #e9e9e9, #c7c7c7);
	background-image: -o-linear-gradient(top, #e9e9e9, #c7c7c7);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#c7c7c7));
	background-image: -webkit-linear-gradient(top, #e9e9e9, #c7c7c7);	
	background-image: linear-gradient(top, #e9e9e9, #c7c7c7);	
	border-color: #aeaeae;		
}
#general-cpac-settings .cpac-option-list li.active .cpac-sort-handle {
	background-position: 5px -19px;
}
#general-cpac-settings .cpac-option-list li.active div.cpac-meta-title {
	color: #151515;
}
#general-cpac-settings .cpac-option-list li.active div.cpac-meta-title span {
	color: #5c5c5c
}

/* =Plugin settings (Options)
-------------------------------------------------------------- */
#cpac-box-plugin_settings {}
#cpac-box-plugin_settings > td {
	border: none;
	padding: 0;
	margin: 0;
}
#cpac-box-plugin_settings table.nopadding {
	border-collapse: separate;
	border-spacing: 0;
	border: none;
	width: 100%;
}
#cpac-box-plugin_settings table.nopadding tr.last > td {
	border-bottom: none;
	border-top: none;
}
#cpac-box-plugin_settings .button {
	position: relative;
}
#cpac-box-plugin_settings .button.loading {
	padding-right: 25px;
}
#cpac-box-plugin_settings .button.loading span {
	position: absolute;
	top: 2px;
	right: 6px;
	background: transparent url('../images/loading.gif') no-repeat right 50%;
	width: 16px;
	height: 16px;
	display: inline-block;
}
#cpac-box-plugin_settings td.first-col {
	width: 18%;
}

/* =Addon settings
-------------------------------------------------------------- */
#cpac-box-plugin_settings table.addons {
	/* max-width: 620px; */	
}
#cpac-box-plugin_settings table.addons th.activation_type {
	width: 110px;
}
#cpac-box-plugin_settings table.addons th.activation_status {
	width: 90px;
}
#cpac-box-plugin_settings table.addons th.activation_code {
	/* width: auto; */
	min-width: 260px;
}
#cpac-box-plugin_settings table.addons th.activation_more {
	/* min-width: 120px; */
	text-align: left;
	width: auto;
}
#cpac-box-plugin_settings table.addons td.activation_type span {
	font-size: 14px;
	display: inline-block;
	background: transparent url('../images/information.png') no-repeat right 50%;
	padding-right: 20px;
}
#cpac-box-plugin_settings table.addons td {
	background: #ffffff;
	/* vertical-align: middle; */
	padding: 18px 10px;
}
#cpac-box-plugin_settings table.addons td.activation_code input {
	width: 176px;
	color: #555555;
	font-family: Arial;
	font-size: 12px;
}
#cpac-box-plugin_settings table.addons td.activation_more {
	text-align: left;	
}
#cpac-box-plugin_settings table.addons td.activation_more  a{
	float: none;
	display: inline-block;
	margin-top: 1px;
}
#cpac-box-plugin_settings table.addons tr.last td {
	border-bottom: none;
}
#cpac-box-plugin_settings table.addons .masked_key {
	padding: 0;
}
#cpac-box-plugin_settings .cpac-options {}
#cpac-box-plugin_settings .cpac-options li {
	overflow: hidden;
}
#cpac-box-plugin_settings .cpac-option-label {
	float: left;
	width: 140px;
}
#cpac-box-plugin_settings .cpac-option-inputs {
	float: left;
	width: 220px;
}

/* =Restore settings
-------------------------------------------------------------- */
#restore-cpac-settings .inside {
	padding: 10px;
}
#restore-cpac-settings.postbox {
	background: #FAF2F5;
    border: 1px solid #CFADB3;
    color: #832525;	
}
#restore-cpac-settings.postbox h3 {
	color: #832525;
	background: #FAF2F5;
}
#restore-cpac-settings .inside .button {
	margin: 0 0 10px;
	border: 1px solid #CFADB3;
    color: #832525;
}
#restore-cpac-settings .inside .description {
    color: #832525;
}

/* =Addons settings
-------------------------------------------------------------- */
#addons-cpac-settings {
	overflow: hidden;
	background: #ccffcc;
	background: -moz-linear-gradient(top,  #c3f5c2 1%, #ccffcc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#c3f5c2), color-stop(100%,#ccffcc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c3f5c2 1%,#ccffcc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c3f5c2 1%,#ccffcc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c3f5c2 1%,#ccffcc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c3f5c2 1%,#ccffcc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3f5c2', endColorstr='#ccffcc',GradientType=0 ); /* IE6-9 */
    border-color: green;
}
#addons-cpac-settings h3 {
	background: transparent;
	border-bottom: none;
	box-shadow: none;
}
#addons-cpac-settings h2 {
	font-size: 14px;
	line-height: 14px;
	margin-bottom: 0;
	padding-bottom: 0;
}
#addons-cpac-settings a {
	padding: 0 10px 10px;
	text-decoration: none;
	color: green;
	text-decoration: underline;
	font-size: 15px;
}
#addons-cpac-settings a:hover {
	color: darkgreen;
}


/* =Like this plugin settings
-------------------------------------------------------------- */
#likethisplugin-cpac-settings {
	padding: 0;
}
#likethisplugin-cpac-settings ul {
	margin-left: 20px;
}
#likethisplugin-cpac-settings li {
	list-style: square;
	line-height: 16px;
}
#likethisplugin-cpac-settings li a {
	text-decoration: none;
}
#likethisplugin-cpac-settings li.donate_link a {
	/* color: green;
	text-decoration: underline; */
}
#likethisplugin-cpac-settings li.donate_link a:hover {
	color: darkgreen;
}

/* =Latest News
-------------------------------------------------------------- */
#latest-news-cpac-settings {
	padding: 0;
}
#latest-news-cpac-settings ul {
	margin-left: 0;
}
#latest-news-cpac-settings li {
	list-style: none;
	line-height: 16px;
}
#latest-news-cpac-settings li a {
	text-decoration: none;
	padding-left: 24px;
	display: inline-block;
	lie-height: 20px;
}
#latest-news-cpac-settings li.twitter a {
	background: transparent url('../images/twitter.png') no-repeat 0 ;
}
#latest-news-cpac-settings li.facebook a {
	background: transparent url('../images/facebook.png') no-repeat 0 ;
}
#likethisplugin-cpac-settings li.donate_link a:hover {
	color: darkgreen;
}

/* =Activation
-------------------------------------------------------------- */
#cpac-box-plugin_settings .addons .activation_code .activate,
#cpac-box-plugin_settings .addons .activation_code .deactivate {
	min-height: 25px;
}
#cpac-box-plugin_settings .activation_status .activate {
	color: #CC0000;
}
#cpac-box-plugin_settings .activation_status .deactivate {
	color: darkgreen;
}
#cpac-box-plugin_settings .activation-error-msg {
	color: #CC0000;
	line-height: 20px;
	padding: 0 6px;
}

/* =Import / Export
-------------------------------------------------------------- */
div.cpac_export {
	width: 20%;
	float: left;
}
#cpac_export_output {
	width: 80%;
	float: left;	
	display: none;
}
#cpac_export_output textarea {
	width: 100%;
	height: 80%;	
}
#cpac_export_submit {
	display: inline-block;
	margin: 10px 0;
}
#cpac_import_input {}
#cpac_import_input textarea {
	width: 100%;
	height: 80%;	
}
#cpac_import_submit {
	display: inline-block;
	margin: 10px 0;
}
.export-message,
.import-message {
	background-color: #FFFFE0;
    border: 1px solid #E6DB55;
	padding: 4px 6px;
	border-radius: 3px;
	display: none;
}

/* =WP Pointer
-------------------------------------------------------------- */
.wp-pointer-content ol {
    margin-left: 1.5em;
    padding: 0 15px;
}

/* =Tooltip
-------------------------------------------------------------- */
.qtip .qtip-tip {
	left: 74px !important;
	top: 1px !important;
}
.qtip .qtip-wrapper {
	background: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #dfdfdf;
	border-color: rgba(0,0,0,.125);
	border-top: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.19);
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.19);
	box-shadow: 0 2px 4px rgba(0,0,0,.19);

}
.qtip .qtip-wrapper .qtip_title {
	padding: 15px 18px 14px 15px;
	clear: both;
	line-height: 1.4em;
	font-size: 14px;
	color: #fff;
	border-radius: 3px 3px 0 0;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
	background-color: #8cc1e9;
	background-image: -webkit-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(140,193,233) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(140,193,233) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(140,193,233) 100%);
	background-image: -o-linear-gradient(bottom, rgb(114,167,207) 0%, rgb(140,193,233) 100%);
	background-image: linear-gradient(bottom, rgb(114,167,207) 0%, rgb(140,193,233) 100%);
}
.qtip .qtip-wrapper .qtip_content {
	padding: 0 14px 14px;
	margin: 0;
	overflow: hidden;
	clear: both;
	min-height: 40px;
	font-size: 13px;
	background: #fff;
}
.qtip .qtip-wrapper .qtip_content .button-primary {
	margin: 6px 0 0;
}

/* =Responsive Design
-------------------------------------------------------------- */
body.folded #cpac .cpac-col-left .metabox-holder {
	margin-right: 0;
}
body.folded #cpac .cpac-col-right {
	display: none;
}