#cpac .postbox {
	margin: 0 10px 10px 0;
}
#cpac .cpac-menu {
	clear: both;
	float: left;
	width: 100%;
}
#icon-codepress-admin-columns {
	background: transparent url('../images/icon.png') no-repeat 0 0;
}
#general-cpac-settings > .inside {
	padding: 0;
	margin: 0;
}
#general-cpac-settings table.form-table {
	margin: 0;
	padding: 0;
	border-collapse: separate;
	border-spacing: 0;
}
#general-cpac-settings table th,
#general-cpac-settings table td {
    vertical-align: top;
	border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #FFFFFF;
}
#general-cpac-settings table th.cpac_post_type {
	width: 18%;
	font-weight: bold;	
}
#general-cpac-settings table.form-table tr.bottom th,
#general-cpac-settings table.form-table tr.bottom td {
	border-bottom: none;
}
#general-cpac-settings .cpac-box {
	position: relative;
}
#general-cpac-settings .cpac-option-list {
	overflow: hidden;
	width: 360px;
	margin-bottom: 5px;	
}
#general-cpac-settings .cpac-reorder-msg {
	background: transparent url('../images/reorder_arrow.png') no-repeat scroll 0 0;
	margin-left: 5px;
	height: 23px;
	line-height: 25px;
	padding-left: 25px;
	color: #727272;
	font-size: 12px;
	font-family: 'Trebuchet MS', Arial, Verdana;
	font-style: italic;
	clear: both;
}
#general-cpac-settings .cpac-option-list li {
	margin: 5px 0;
	position: relative;
	overflow: hidden;
	width: 320px;
    box-shadow: 1px #FFFFFF;
    text-shadow: 0 1px 0 #FFFFFF;
	background-color: #F1F1F1;	
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(top, #f9f9f9, #ececec);
	border-radius: 3px 3px 3px 3px;
    border: 1px solid #cbcbcb;    
	margin-top: 1px;
}
#general-cpac-settings .cpac-option-list li .cpac-sort-handle {
	background: transparent url('../images/sort.png') no-repeat 5px 5px;
	width: 20px;
	height: 26px;
	float: left;
	cursor: move;
	position: relative; z-index: 10;
}
#general-cpac-settings .cpac-option-list li .cpac-checkbox {
	margin-top: 5px;
	width: 16px;
	height: 15px;
	cursor: pointer;
	background: transparent url('../images/checkbox.png') no-repeat 0 0;
}
#general-cpac-settings .cpac-option-list li.active .cpac-checkbox {
	background-position: 0 -15px;
}
#general-cpac-settings .cpac-option-list li .cpac-type-options {
	float: left;
	padding: 0;
	position: relative;
	width: 222px;
	overflow: hidden;
	height: 26px;
}
#general-cpac-settings .cpac-option-list li .cpac-type-options label {
	position: absolute;
	left: 22px;
	top: 5px;
	display: block;
	margin-right: 30px;
	overflow: hidden;
	height: 17px;
	line-height: 17px;
}
#general-cpac-settings .cpac-option-list li .cpac-type-options input {
	margin-top: 6px;
	cursor: pointer;
}
#general-cpac-settings .cpac-option-list li div.cpac-meta-title {
	position: absolute;
	right: 0;
	top: 0;
	color: #999999;
}
#general-cpac-settings .cpac-option-list li a.cpac-action {
	background: transparent url('../images/arrows.png') no-repeat scroll 50% 5px;
	height: 26px;
    width: 24px;
	float: right;
	display: block;
	text-indent: -999em;
	overflow: hidden;
}
#general-cpac-settings .cpac-option-list li.opened a.cpac-action {}
#general-cpac-settings .cpac-option-list li.active a.cpac-action {
	background-position: 50% -66px;
}
#general-cpac-settings .cpac-option-list li.active.opened a.cpac-action {}
#general-cpac-settings .cpac-option-list li div.cpac-meta-title span {
	display: inline-block;
	margin: 5px 5px 0 0;
	float: right;
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside {
	display: none;
	float: none;
	clear: both;
	background: #fbfbfb;
	border-top: 1px solid #DFDFDF;
	padding: 5px 10px;
}
#general-cpac-settings .cpac-option-list li a.cpac-delete-custom-field-box {
	display: inline-block;
	border-bottom: 1px solid #FF0000;
    color: #FF0000;
	text-decoration: none;
	text-shadow: none;
	padding: 0 3px;
}
#general-cpac-settings .cpac-option-list li a.cpac-delete-custom-field-box:hover {
	background-color: #FF0000;
    border-bottom-color: #FF0000;
    color: #FFFFFF;
	text-decoration: none;	
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside label {
	width: 100px;
	display: inline-block;
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside input,
#general-cpac-settings .cpac-option-list li .cpac-type-inside select {
	min-width: 184px;
}
#general-cpac-settings .cpac-add-column a {
	display: block;
}
#general-cpac-settings .cpac-option-list li.cpac-placeholder {
	border: 1px dashed #666;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 320px;
	background: transparent;
}
#general-cpac-settings .cpac-add-customfield-column {
	position: absolute;
	bottom: 30px;
	left: 360px;
}
#general-cpac-settings .cpac-option-list li.deleting {
	background: #CFADB3;
    border: 1px solid #CFADB3;
    color: #832525;
	text-shadow: none;
}
#general-cpac-settings .cpac-option-list li.active {
	background-color: #c7c7c7;	
 	background-image: -ms-linear-gradient(top, #e9e9e9, #c7c7c7);
	background-image: -moz-linear-gradient(top, #e9e9e9, #c7c7c7);
	background-image: -o-linear-gradient(top, #e9e9e9, #c7c7c7);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#c7c7c7));
	background-image: -webkit-linear-gradient(top, #e9e9e9, #c7c7c7);	
	background-image: linear-gradient(top, #e9e9e9, #c7c7c7);	
	border-color: #aeaeae;		
}
#general-cpac-settings .cpac-option-list li.active .cpac-sort-handle {
	background-position: 5px -19px;
}
#general-cpac-settings .cpac-option-list li.active div.cpac-meta-title {
	color: #151515;
}
#general-cpac-settings .cpac-option-list li.active div.cpac-meta-title span {
	color: #5c5c5c
}
#restore-cpac-settings .inside {
	padding: 10px;
}
#restore-cpac-settings.postbox {
	background: #FAF2F5;
    border: 1px solid #CFADB3;
    color: #832525;	
}
#restore-cpac-settings.postbox h3 {
	color: #832525;
	background: #FAF2F5;
}
#restore-cpac-settings .inside .button {
	margin: 0 0 10px;
	border: 1px solid #CFADB3;
    color: #832525;
}
#restore-cpac-settings .inside .description {
    color: #832525;
}
#likethisplugin-cpac-settings {
	padding: 0 0 10px;
}
#likethisplugin-cpac-settings ul {
	margin-left: 20px;
}
#likethisplugin-cpac-settings li {
	list-style: square;
	line-height: 16px;
}
#likethisplugin-cpac-settings li a {
	text-decoration: none;
}
#likethisplugin-cpac-settings li.donate_link a {
	color: green;
	text-decoration: underline;
}
#likethisplugin-cpac-settings li.donate_link a:hover {
	color: darkgreen;
}