@charset "UTF-8";
/* =Colors
-------------------------------------------------------------- */
/* =Addons
-------------------------------------------------------------- */
.ac-addons-groups {
  display: inline-flex;
  flex-wrap: wrap;
}

.ac-addons {
  margin-right: 16px;
}
.ac-addons.group-default {
  float: none;
  clear: both;
  display: table;
}
.ac-addons ul {
  display: flex;
  flex-wrap: wrap;
}

.ac-addon {
  width: 300px;
  background: #FFF;
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  margin-right: 16px;
  margin-bottom: 16px;
  border: 1px solid #DDD;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}
.ac-addon:hover {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
}
.ac-addon__header {
  display: flex;
  justify-content: center;
  margin: 0 30px;
  padding: 20px;
  border-bottom: 1px solid #979797;
}
.ac-addon__header img {
  max-height: 50px;
}
.ac-addon__content {
  padding: 10px 30px;
}
.ac-addon__content h3 {
  margin: 15px 0 25px 0;
  text-align: center;
}
.ac-addon__actions {
  text-align: center;
  padding-bottom: 35px;
  margin-top: auto;
}
.ac-addon__actions a.ac-addon__button {
  border-color: #4C7FA0;
  padding: 5px 30px;
  color: #4C7FA0;
  font-weight: bold;
}
.ac-addon__state {
  font-weight: bold;
  font-size: 16px;
  transform: translateX(-10px);
}
.ac-addon__state .-green {
  color: #44D164;
}
.ac-addon__more-link {
  color: #054C7B;
  font-weight: 500;
  white-space: nowrap;
}
.ac-addon .addon-header {
  display: flex;
  width: 100%;
  height: 85px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #DDD;
}
.ac-addon .addon-header .inner {
  display: table-cell;
  vertical-align: middle;
  padding: 15px 20px;
}
.ac-addon .addon-header .inner h3 {
  padding: 0 16px;
  color: #FFF;
  line-height: 150%;
}
.ac-addon .addon-header .inner img {
  display: inline-block;
  max-height: 52px;
  max-width: 100%;
}
.ac-addon .addon-notice {
  background-color: #fff8e5;
  margin: 0;
  padding: 15px;
}
.ac-addon .addon-notice a {
  font-weight: bold;
  text-decoration: none;
  color: #0073aa;
}
.ac-addon .addon-content {
  margin-bottom: auto;
  width: 100%;
  padding: 25px 15px;
  box-sizing: border-box;
  min-height: 160px;
}
.ac-addon .addon-content > *:first-child {
  margin-top: 0;
}
.ac-addon .addon-content > *:last-child {
  margin-bottom: 0;
}
.ac-addon .addon-actions {
  background: #eee;
  border-top: 1px solid #ddd;
  padding: 8px;
  overflow: hidden;
}
.ac-addon .addon-actions span.active,
.ac-addon .addon-actions span.active:hover {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  cursor: default;
  border-color: #69c471;
  color: #388f40;
  margin-left: 8px;
}
.ac-addon .addon-actions span.active:before,
.ac-addon .addon-actions span.active:hover:before {
  content: "";
  font-family: "dashicons", sans-serif;
  vertical-align: middle;
  font-size: 17px;
  margin: -2px 3px 0 -5px;
}
.ac-addon.ac-addon-types .addon-header .inner img, .ac-addon.ac-addon-buddypress .addon-header .inner img {
  max-height: 68px;
}

/*# sourceMappingURL=admin-page-addons.css.map */
