@charset "UTF-8";
@font-face {
  font-family: "cpac_icons";
  src: url("../fonts/cpac_icons.woff") format("woff"); }

[class^="cpacicon-"], [class*=" cpacicon-"] {
  font-family: 'cpac_icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  [class^="cpacicon-"]:before, [class*=" cpacicon-"]:before {
    font-size: 100%; }

.cpacicon-move:before {
  content: "î¨"; }

/* Dynamic variables */
/**
 * General
 * ----------------------------------------------------------------------------
 */
#cpac a:focus,
#cpac a:active {
  outline: none; }

.wrap .nav-tab-wrapper {
  margin-bottom: 24px; }

.wrap .notice {
  margin-top: 16px;
  margin-bottom: 16px; }

/**
 * Button
 * ----------------------------------------------------------------------------
 */
.button.loading {
  padding-right: 25px;
  position: relative; }

/**
 * Message
 * ----------------------------------------------------------------------------
 */
.cpac_message.error.warning {
  border-left: 4px solid #ffba00; }

.ajax-message {
  display: none; }

/**
 * Menu
 * ----------------------------------------------------------------------------
 */
.menu {
  position: relative;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 16px; }
  .menu select {
    display: inline-block;
    margin: 0; }
  .menu .spinner {
    display: none;
    float: none;
    visibility: visible;
    margin: 0 0 0 14px; }
  .menu .view-link,
  .menu .view-link:active {
    display: inline-block;
    margin: 0 0 0 12px;
    top: 2px; }

/**
 * Notifications
 * ----------------------------------------------------------------------------
 */
.cac-notification.updated {
  border-left-color: #0071aa; }
  .cac-notification.updated .learnmore {
    float: right; }
    .cac-notification.updated .learnmore:after {
      content: "\f139";
      font: normal 20px/1 'dashicons';
      float: right; }

/**
 * Table
 * ----------------------------------------------------------------------------
 */
table.cpac-form-table {
  max-width: 1100px;
  margin-top: 20px; }
  table.cpac-form-table > tbody > tr > td,
  table.cpac-form-table > tbody > tr > th {
    vertical-align: top; }
  table.cpac-form-table td.padding-22 {
    padding-top: 22px; }
  table.cpac-form-table.settings tr td {
    padding-top: 74px; }
  table.cpac-form-table.settings tr:first-child th {
    padding-top: 0; }
  table.cpac-form-table.settings tr:first-child td {
    padding-top: 54px; }

/**
 * WP Pointer
 * ----------------------------------------------------------------------------
 */
.wp-pointer-content {
  overflow: hidden; }
  .wp-pointer-content ol {
    margin-left: 1.5em;
    padding: 0 15px; }

.wp-pointer-right {
  margin-right: 15px; }

.wp-pointer.noclick .wp-pointer-buttons {
  display: none; }

/* =RTL language
-------------------------------------------------------------- */
body.rtl .wp-pointer-right {
  margin-left: 15px;
  margin-right: 0; }
  body.rtl .wp-pointer-right ol {
    margin-right: 1.5em;
    margin-left: 0; }

body.rtl .button.loading {
  padding-left: 25px;
  padding-right: 0; }
  body.rtl .button.loading span {
    left: 6px;
    right: auto; }

body.rtl .cpac-menu .subsubsub {
  margin-left: 14px;
  margin-right: 0; }

body.rtl .columns-container {
  margin-left: 300px;
  margin-right: 0; }

body.rtl .columns-left {
  float: right; }
  body.rtl .columns-left .cpac-columns .cpac-column .column-meta img {
    margin-left: 3px;
    margin-right: 0; }
  body.rtl .columns-left .cpac-columns .cpac-column .column-meta .column_label .inner > a.remove-button {
    margin-right: 12px;
    margin-left: 0; }
  body.rtl .columns-left .cpac-columns .cpac-column .column-meta .column_label .inner .meta {
    float: left; }
  body.rtl .columns-left .cpac-columns .cpac-column .column-meta .column_label span.vers {
    float: right; }
  body.rtl .columns-left .cpac-columns .cpac-column .column-meta .column_type {
    text-align: left;
    padding-left: 0;
    padding-right: auto; }
  body.rtl .columns-left .cpac-columns .cpac-column .column-meta span.vers .comment-grey-bubble {
    float: left; }
  body.rtl .columns-left .cpac-columns .cpac-column .column-form table tr.column_image_size td.input label input {
    margin-left: 3px;
    margin-right: 0; }
  body.rtl .columns-left .cpac-columns .cpac-column .column-form table tr td.label p.description {
    right: 0;
    left: auto; }
  body.rtl .columns-left .cpac-columns .cpac-column .column-form table tr td.label a.more-info {
    float: left; }
  body.rtl .columns-left .cpac-columns .cpac-column .column-form div.description {
    float: right; }
  body.rtl .columns-left .cpac-columns .cpac-column .column-form div.input-width-range {
    float: right; }
  body.rtl .columns-left .cpac-columns .cpac-column .column-form a.help {
    float: left; }
  body.rtl .columns-left .column-footer .order-message {
    float: right;
    padding-right: 22px;
    padding-left: 0;
    background: transparent url("../images/order_arrow-rtl.png") no-repeat right top; }
  body.rtl .columns-left .column-footer .button-container {
    float: left; }
  body.rtl .columns-left .column-footer .submit {
    display: none; }

body.rtl .columns-right {
  float: left;
  margin-left: -300px;
  margin-right: 0; }

body.rtl .cpac-placeholder {
  padding: 5px 0 7px 4px; }

body.rtl .cpac_export .ms-container .ms-selection {
  float: left; }

.ac-badge {
  display: inline-block;
  background: #d54e21;
  border-radius: 10px;
  font-size: 9px;
  line-height: 17px;
  padding: 0 6px;
  margin: -1px 0 0 4px;
  vertical-align: middle;
  color: #fff;
  font-weight: 600; }
