#general-cpac-settings {}
#cpac .postbox {
	margin: 0 10px 10px 0;
}
#cpac .cpac-menu {
	clear: both;
	float: left;
	width: 100%;
}
#icon-cpac-plugin-settings {
	background: transparent url('../images/icon.png') no-repeat 0 0;
}
#general-cpac-settings > .inside {
	padding: 0;
	margin: 0;
}
#general-cpac-settings table.form-table {
	margin: 0;
	padding: 0;
	border-collapse: separate;
	border-spacing: 0;
}
#general-cpac-settings table th,
#general-cpac-settings table td {
    vertical-align: top;
	border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #FFFFFF;
}
#general-cpac-settings table th.cpac_post_type {
	width: 18%;
	font-weight: bold;	
}
#general-cpac-settings table.form-table tr.bottom th,
#general-cpac-settings table.form-table tr.bottom td {
	border-bottom: none;
}
#general-cpac-settings .cpac-box {
	position: relative;
}
#general-cpac-settings .cpac-option-list {
	overflow: hidden;
	width: 360px;	
	float: left;
}
#general-cpac-settings .cpac-reorder-msg {
	background: transparent url('../images/reorder.png') no-repeat scroll 0 0;
	margin-left: 5px;
	height: 23px;
	width: 171px;
	clear: both;
}
#general-cpac-settings .cpac-option-list li {
	margin: 5px 0;
	position: relative;
	overflow: hidden;
	width: 320px;
    box-shadow: 1px #FFFFFF;
    text-shadow: 0 1px 0 #FFFFFF;
	background-color: #F1F1F1;	
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(top, #f9f9f9, #ececec);
	border-radius: 3px 3px 3px 3px;
    border: 1px solid #DFDFDF;    
	margin-top: 1px;
}
#general-cpac-settings .cpac-option-list li.active {
	background-color: #d8d8d8;
	background-image: -ms-linear-gradient(top, #f0f0f0, #d8d8d8);
	background-image: -moz-linear-gradient(top, #f0f0f0, #d8d8d8);
	background-image: -o-linear-gradient(top, #f0f0f0, #d8d8d8);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#d8d8d8));
	background-image: -webkit-linear-gradient(top, #f0f0f0, #d8d8d8);
	background-image: linear-gradient(top, #f0f0f0, #d8d8d8);	
	border-color: #c5c5c5;
}
#general-cpac-settings .cpac-option-list li .cpac-sort-handle {
	background: transparent url('../images/sort.png') no-repeat 5px 5px;
	width: 20px;
	height: 26px;
	float: left;
	cursor: move;
}
#general-cpac-settings .cpac-option-list li .cpac-checkbox {
	margin-top: 5px;
	width: 16px;
	height: 15px;
	cursor: pointer;
	background: transparent url('../images/checkbox.png') no-repeat 0 0;
}
#general-cpac-settings .cpac-option-list li.active .cpac-checkbox {
	background-position: 0 -15px;
}
#general-cpac-settings .cpac-option-list li .cpac-type-options {
	float: left;
	padding: 0;
	position: relative;
	width: 222px;
	overflow: hidden;
	height: 26px;
}
#general-cpac-settings .cpac-option-list li .cpac-type-options label {
	position: absolute;
	left: 22px;
	top: 5px;
	display: block;
	margin-right: 30px;
	overflow: hidden;
	height: 15px;
}
#general-cpac-settings .cpac-option-list li .cpac-type-options input {
	margin-top: 6px;
	cursor: pointer;
}
#general-cpac-settings .cpac-option-list li div.cpac-meta-title {
	position: absolute;
	right: 0;
	top: 0;
	color: #999999;
}
#general-cpac-settings .cpac-option-list li a.cpac-action {
	background: transparent url('../images/arrows.png') no-repeat scroll 50% 5px;
	height: 26px;
    width: 24px;
	float: right;
	display: block;
	text-indent: -999em;
	overflow: hidden;
}
#general-cpac-settings .cpac-option-list li div.cpac-meta-title span {
	display: inline-block;
	margin: 5px 5px 0 0;
	float: right;
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside {
	display: none;
	float: none;
	clear: both;
	background: #fbfbfb;
	border-top: 1px solid #DFDFDF;
	padding: 5px 10px;
}
#general-cpac-settings .cpac-option-list li a.cpac-delete-custom-field-box {
	display: inline-block;
	border-bottom: 1px solid #FF0000;
    color: #FF0000;
	text-decoration: none;
	text-shadow: none;
	padding: 0 3px;
}
#general-cpac-settings .cpac-option-list li a.cpac-delete-custom-field-box:hover {
	background-color: #FF0000;
    border-bottom-color: #FF0000;
    color: #FFFFFF;
	text-decoration: none;	
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside label {
	width: 100px;
	display: inline-block;
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside input.text {
	width: 154px;
}
#general-cpac-settings .cpac-add-column a {
	display: block;
}
#general-cpac-settings .cpac-option-list li.cpac-placeholder {
	border: 1px dashed #666;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	width: 320px;
	background: transparent;
}
#general-cpac-settings .cpac-add-customfield-column {
	position: absolute;
	bottom: 30px;
	left: 360px;
}
#general-cpac-settings .cpac-option-list li.deleting {
	background: #CFADB3;
    border: 1px solid #CFADB3;
    color: #832525;
	text-shadow: none;
}
#restore-cpac-settings .inside {
	padding: 10px;
}
#restore-cpac-settings.postbox {
	background: #FAF2F5;
    border: 1px solid #CFADB3;
    color: #832525;	
}
#restore-cpac-settings.postbox h3 {
	color: #832525;
	background: #FAF2F5;
}
#restore-cpac-settings .inside .button {
	margin: 0 0 10px;
	border: 1px solid #CFADB3;
    color: #832525;
}
#restore-cpac-settings .inside .description {
    color: #832525;
}