@charset "UTF-8";
@font-face {
  font-family: "cpac_icons";
  src: url("../fonts/cpac_icons.woff2?v=522085") format("woff2"), url("../fonts/cpac_icons.woff?v=161913") format("woff");
  font-style: normal;
  font-weight: 400;
}
.cpacicon, [class^=cpacicon-], [class*=" cpacicon-"] {
  display: inline-block;
  transform: translate(0, 0);
  text-rendering: auto;
  font: normal normal 400 14px/1 cpac_icons;
  font-size: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.cpacicon-bulk-edit::before {
  content: "\ea01";
}

.cpacicon-delete::before {
  content: "\ea02";
}

.cpacicon-download::before {
  content: "\ea03";
}

.cpacicon-draft::before {
  content: "\ea04";
}

.cpacicon-duplicate::before {
  content: "\ea05";
}

.cpacicon-filter::before {
  content: "\ea06";
}

.cpacicon-gf-article::before {
  content: "\ea07";
}

.cpacicon-gf-auto-stories::before {
  content: "\ea08";
}

.cpacicon-gf-comment::before {
  content: "\ea09";
}

.cpacicon-gf-label::before {
  content: "\ea0a";
}

.cpacicon-gf-media::before {
  content: "\ea0b";
}

.cpacicon-gf-user::before {
  content: "\ea0c";
}

.cpacicon-more::before {
  content: "\ea0d";
}

.cpacicon-move::before {
  content: "\ea0e";
}

.cpacicon-rename::before {
  content: "\ea0f";
}

.cpacicon-reset-password::before {
  content: "\ea10";
}

.cpacicon-segment::before {
  content: "\ea11";
}

.cpacicon-smart-filter::before {
  content: "\ea12";
}

.cpacicon-text-clip::before {
  content: "\ea13";
}

.cpacicon-text-wrap::before {
  content: "\ea14";
}

.cpacicon-user-switch::before {
  content: "\ea15";
}

.cpacicon-woo::before {
  content: "\ea16";
}

.svelte-select.-wordpress {
  --padding: 0 0 0 8px;
  --border: 1px solid #8c8f94;
  --border-radius: 3px;
  --border-hover: 1px solid #8c8f94;
  --border-focused: 1px solid var(--ac-primary-color);
  --font-size: 14px;
  --height: 25px;
  --chevron-width: 25px;
  --chevron-height: 28px;
  --loading-width: 20px;
  --clear-select-width: 10px;
  --icons-color: #838a92;
  --input-color: $input-text-color;
  --placeholder-color: $input-text-color;
  --selected-item-padding: 0 1px 0 0;
  --item-padding: 0 10px;
  --item-hover-bg: #5897fb;
  --item-is-active-bg: #ddd;
  --item-is-active-color: #000;
  --item-hover-color: #fff;
  --group-title-text-transform: none;
}
.svelte-select.-wordpress:hover, .svelte-select.-wordpress input {
  cursor: pointer !important;
}
.svelte-select.-wordpress.focused {
  box-shadow: 0 0 0 1px #2271b1;
}
.svelte-select.-wordpress:hover {
  --input-color: #2271b1;
}
.svelte-select.-wordpress.-active {
  --border: 1px solid #2271b1;
}
.svelte-select.-wordpress .svelte-select-list {
  max-width: 500px !important;
  min-width: 100%;
}
.svelte-select.-wordpress .list-item {
  font-size: 13px;
}
.svelte-select.-wordpress .list-item .item {
  cursor: pointer !important;
}
.svelte-select.-wordpress .list-item .item.not-selectable {
  cursor: default !important;
}
.svelte-select.-wordpress .list-item.svelte-empty {
  padding: 10px;
}
.svelte-select.-wordpress .selected-item {
  height: 17px;
  cursor: pointer;
}
.svelte-select.-wordpress .value-container input {
  height: 28px;
  min-height: 28px;
}
.svelte-select.-wordpress .value-container input:focus {
  box-shadow: none;
}
.svelte-select.-wordpress .indicators .icon.chevron {
  justify-content: left;
}
.svelte-select.-wordpress .item.list-group-title {
  color: black;
}
.svelte-select.-wordpress .icon.chevron {
  font-weight: 100;
}
.svelte-select.-wordpress .icon.chevron > * {
  display: none;
}
.svelte-select.-wordpress .icon.chevron:before {
  display: block;
  transform: translateY(1px);
  font-family: Dashicons, monospace;
  content: "\f347";
  font-weight: 100;
  font-size: 16px;
}
.svelte-select.-wordpress .icon.clear-select:before {
  display: block;
  transform: translateY(1px);
  font-family: Dashicons, monospace;
  content: "\f335";
  font-weight: 100;
  font-size: 18px;
}
.svelte-select.-wordpress .icon.clear-select:focus, .svelte-select.-wordpress .icon.clear-select:hover {
  color: var(--ac-link);
}
.svelte-select.-wordpress .icon.clear-select > * {
  display: none;
}

.svelte-select.-acui {
  --padding: 0 0 0 13px;
  --border: 1px solid #CBD5E1;
  --border-radius: 5px;
  --border-hover: 1px solid #8c8f94;
  --border-focused: 1px solid var(--ac-primary-color);
  --font-size: 14px;
  --height: 42px;
  --chevron-width: 25px;
  --chevron-height: 28px;
  --loading-width: 20px;
  --clear-select-width: 40px;
  --icons-color: #838a92;
  --input-color: $input-text-color;
  --placeholder-color: $input-text-color;
  --selected-item-padding: 0 1px 0 0;
  --list-border: 1px solid #ccc;
  --list-border-radius: 0 0 4px 4px;
  --item-height: 35px;
  --item-line-height: 35px;
  --item-padding: 0 13px;
  --item-hover-bg: #EAF2FA;
  --item-is-active-bg: #EAF2FA;
  --item-is-active-color: #000;
  --multi-select-padding: 0 0 0 8px;
  --multi-item-outline: none;
  --multi-item-bg: #EAF2FA;
  --group-title-text-transform: "none";
  --group-item-padding-left: 30px;
  --group-title-font-size: 14px;
  --value-container-padding: 0;
}
.svelte-select.-acui:hover, .svelte-select.-acui input {
  cursor: pointer !important;
}
.svelte-select.-acui.focused {
  box-shadow: 0 0 0 1px #2271b1;
}
.svelte-select.-acui.list-open {
  border-width: 2px !important;
  border-color: #266fb1 !important;
  box-shadow: none !important;
}
.svelte-select.-acui:hover {
  --input-color: #2271b1;
}
.svelte-select.-acui.-active {
  --border: 1px solid #2271b1;
}
.svelte-select.-acui .svelte-select-list {
  min-width: 100%;
}
.svelte-select.-acui .list-item {
  font-size: 13px;
}
.svelte-select.-acui .list-item .item {
  cursor: pointer !important;
}
.svelte-select.-acui .list-item .item.not-selectable {
  cursor: default !important;
}
.svelte-select.-acui .list-item .item.list-group-title.not-selectable {
  color: #1E3133 !important;
  font-weight: bold;
  font-size: 13px;
}
.svelte-select.-acui .list-item .item.active {
  position: relative;
}
.svelte-select.-acui .list-item .item.active:after {
  content: "✓";
  position: absolute;
  right: 10px;
  top: 0;
  color: var(--ac-primary-color);
}
.svelte-select.-acui .list-item.svelte-empty {
  padding: 10px;
}
.svelte-select.-acui .multi-item {
  flex-direction: row-reverse;
}
.svelte-select.-acui .multi-item-clear {
  color: #006BA1;
  cursor: pointer;
}
.svelte-select.-acui .selected-item {
  height: 20px;
  cursor: pointer;
}
.svelte-select.-acui .value-container input {
  height: 28px;
  min-height: 28px;
}
.svelte-select.-acui .value-container input:focus {
  box-shadow: none;
}
.svelte-select.-acui .indicators .icon.chevron {
  justify-content: left;
}
.svelte-select.-acui .icon.chevron {
  font-weight: 100;
}
.svelte-select.-acui .icon.chevron > * {
  display: none;
}
.svelte-select.-acui .icon.chevron:before {
  display: block;
  transform: translateY(1px);
  font-family: Dashicons, monospace;
  content: "\f347";
  font-weight: 100;
  font-size: 16px;
}
.svelte-select.-acui .icon.clear-select:before {
  display: block;
  transform: translateY(1px);
  font-family: Dashicons, monospace;
  content: "\f335";
  font-weight: 100;
  font-size: 18px;
}
.svelte-select.-acui .icon.clear-select:focus, .svelte-select.-acui .icon.clear-select:hover {
  color: var(--ac-link);
}
.svelte-select.-acui .icon.clear-select > * {
  display: none;
}

.ac-button {
  background: transparent;
  border: 1px solid #616D77;
  border-radius: 4px;
  padding: 7px 15px;
  color: #1E293B;
  cursor: pointer;
}
.ac-button.-text {
  border-color: transparent;
}

/**
 ** Form that contains all column information
 */
.ac-columns {
  background: #fff;
  border: 1px solid #CBD5E1;
  border-radius: 10px;
  margin-bottom: 30px;
}
.ac-columns__header {
  display: flex;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid #CBD5E1;
  gap: 20px;
}
.ac-columns__header__table {
  align-items: center;
}
.ac-columns__header__title {
  width: 100%;
}
.ac-columns__header__title input {
  width: 100%;
  max-width: 400px;
}
.ac-columns__header h1 {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.ac-columns__header input {
  height: 40px;
  border-radius: 5px;
  border: 1px solid #bbb;
  padding: 5px 10px;
}
.ac-columns__footer {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 19px 30px;
  gap: 10px;
}
.ac-columns__footer button {
  margin-left: 10px;
}

.ac-column {
  border-bottom: 1px solid #CBD5E1;
  background-color: rgba(242, 247, 252, 0.39);
}
.ac-column .ac-column-header__move {
  color: #999;
  width: 30px;
  text-align: center;
  opacity: 0;
  font-size: 10px;
  cursor: move;
}
.ac-column .ac-column-header:hover .ac-column-header__move {
  opacity: 1;
}
.ac-column .ac-column-header__label {
  flex-grow: 1;
  color: var(--ac-link);
  cursor: pointer;
}
.ac-column .ac-column-header__open-indicator {
  width: 30px;
}
.ac-column .ac-column-header__open-indicator .ac-open-indicator {
  background: none;
  border: none;
}
.ac-column:hover .ac-column-row-actions {
  visibility: visible;
}
.ac-column.-opened .ac-column-header {
  border-bottom: 1px solid #CBD5E1;
  background-color: #EAF2FA;
}
.ac-column .ac-column-settings {
  padding: 20px 0;
}
.ac-column.ui-sortable-helper {
  border-top: 1px solid #cbd5e1;
}
.ac-column.ui-sortable-placeholder {
  border: 1px solid red;
}

.ac-column-row-actions {
  visibility: hidden;
}
.ac-column-row-actions .ac-column-row-action {
  text-decoration: none;
  margin-right: 5px;
  font-size: 12px;
}
.ac-column-row-actions .ac-column-row-action:hover, .ac-column-row-actions .ac-column-row-action:focus {
  text-decoration: underline;
}
.ac-column-row-actions .ac-column-row-action.-delete {
  color: #AA0000;
}

.ac-open-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  transition: all 0.4s;
  cursor: pointer;
}

.ac-open-indicator.-open {
  transform: rotate(180deg);
}

.ac-header-toggle {
  align-items: center;
  border: 1px solid #C3CBD7;
  border-radius: 5px;
  color: #C3CBD7;
  cursor: pointer;
  display: inline-flex;
  height: 34px;
  justify-content: center;
  width: 34px;
}

.acp-column-setting__label__ {
  -webkit-font-smoothing: antialiased;
}
.acp-column-setting__value {
  max-width: 620px;
}
.acp-column-setting .acp-column-setting {
  padding-left: 0;
}
.acp-column-setting.-type {
  border-bottom: 1px solid #CBD5E1;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.acp-column-setting__value .acp-column-setting__subsettings:nth-child(2):has(div) {
  padding-top: 15px;
}

.acp-column-setting[data-setting=label] .acui-input-group-text {
  color: #ccc;
  transition: color 0.2s;
  cursor: pointer;
}
.acp-column-setting[data-setting=label] .acui-input-group-text ::selection {
  color: red;
}
.acp-column-setting[data-setting=label] .acui-input-group-text:hover {
  color: #555;
}
.acp-column-setting[data-setting=label] .ac-modal.-iconpicker h3 {
  font-weight: 300;
  margin: 30px 0 10px 0;
  font-size: 16px;
}
.acp-column-setting[data-setting=label] .ac-modal.-iconpicker .acp-iconpicker__icon {
  cursor: pointer;
  width: 45px;
  height: 45px;
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;
}
.acp-column-setting[data-setting=label] .ac-modal.-iconpicker .acp-iconpicker__icon .dashicons {
  font-size: 28px;
}
.acp-column-setting[data-setting=label] .ac-modal.-iconpicker .acp-iconpicker__icon:hover {
  color: var(--ac-primary-color-hover);
}
.acp-column-setting[data-setting=label] .ac-modal.-iconpicker .ac-modal__dialog__footer {
  padding: 0;
}
.acp-column-setting[data-setting=label] .ac-modal.-iconpicker .acp-iconmodal-footer {
  display: flex;
}
.acp-column-setting[data-setting=label] .ac-modal.-iconpicker .acp-iconmodal-footer__input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
}
.acp-column-setting[data-setting=label] .ac-modal.-iconpicker .acp-iconmodal-footer__selection {
  width: 60px;
  background: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.acp-column-setting[data-setting=label] .ac-modal.-iconpicker .acp-iconmodal-footer__selection .dashicons {
  font-size: 30px;
  width: 30px;
  height: 30px;
}
.acp-column-setting[data-setting=label] .ac-modal.-iconpicker .acp-iconmodal-footer__action {
  padding: 10px;
  display: flex;
  align-items: center;
}
.acp-column-setting[data-setting=label] .ac-modal.-iconpicker .acp-iconmodal-footer input[type=search] {
  border: 1px solid #666;
}
.acp-column-setting[data-setting=label] .ac-modal.-iconpicker .acp-iconmodal-footer button {
  padding-left: 30px;
  padding-right: 30px;
}

.ac-column-settings.-subsettings {
  padding-top: 0;
  padding-bottom: 0;
}
.ac-column-settings.-subsettings .acp-column-setting {
  flex-direction: column;
}
.ac-column-settings.-subsettings .acp-column-setting .acp-column-setting__label {
  padding: 10px 0;
}
.ac-column-settings.-subsettings .acp-column-setting .acp-column-setting__value {
  padding: 0;
}

.acp-column-setting[data-setting=hidden] {
  display: none;
}

body {
  background-color: #F1F5F9;
}

.ac-admin-page {
  -webkit-font-smoothing: antialiased;
}
.ac-admin-page .ac-admin-page-menu {
  flex-shrink: 0;
}
.ac-admin-page .ac-admin-page-main {
  flex-grow: 1;
  max-width: 1200px;
}

.ac-menu-group {
  margin-bottom: 30px;
  padding: 0;
}
.ac-menu-group__header {
  position: relative;
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}
.ac-menu-group__header__indicator {
  position: absolute;
  right: 10px;
  top: 50%;
  font-size: 16px;
  color: #888;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  transition: all 0.2s;
}
.ac-menu-group__header.closed .ac-menu-group__header__indicator {
  transform: rotate(180deg);
}
.ac-menu-group__header:hover {
  background: #fff;
}

.ac-menu-group-list .ac-menu-group-list__item {
  margin-left: 28px;
}
.ac-menu-group-list .ac-menu-group-list__link {
  color: var(--ac-text-color);
  display: block;
  text-decoration: none;
  padding: 7px 10px;
  border-radius: 5px;
  position: relative;
}
.ac-menu-group-list .ac-menu-group-list__link.active {
  background: #E2E8F0;
  color: #FE3D6C;
  font-weight: 500;
}
.ac-menu-group-list .ac-menu-group-list__link:hover {
  background: #fff;
}
.ac-menu-group-list .ac-menu-group-list__link:hover .ac-menu-group-list__favorite {
  display: block;
}
.ac-menu-group-list__favorite {
  display: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-10px);
}

.ac-menu-image {
  color: #aaa;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-1px);
}

/*# sourceMappingURL=admin-page-columns.css.map */
