#general-cpac-settings {}
#cpac .postbox {
	margin: 0 10px 10px 0;
}
#cpac .cpac-menu {
	clear: both;
	float: left;
	width: 100%;
}
#general-cpac-settings > .inside {
	padding: 0;
	margin: 0;
}
#general-cpac-settings table.form-table {
	margin: 0;
	padding: 0;
	border-collapse: separate;
	border-spacing: 0;
}
#general-cpac-settings table th,
#general-cpac-settings table td {
	border-right: 1px solid #EBEBEB;
    vertical-align: top;
	border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #FFFFFF;
}
#general-cpac-settings table th.cpac_post_type {
	width: 18%;
	font-weight: bold;	
}
#general-cpac-settings .cpac-option-list {
	overflow: hidden;
}
#general-cpac-settings .cpac-option-list li {
	margin: 5px 0;
	position: relative;
	overflow: hidden;
	width: 280px;
    box-shadow: 1px #FFFFFF;
    text-shadow: 0 1px 0 #FFFFFF;
	background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
	border-radius: 3px 3px 3px 3px;
    border: 1px solid #DFDFDF;    
	margin-top: 1px;
}
#general-cpac-settings .cpac-option-list li.active {
	background-image: -moz-linear-gradient(center top , #f0f0f0, #d8d8d8);
	border-color: #c5c5c5;
}
#general-cpac-settings .cpac-option-list li .cpac-sort-handle {
	background: transparent url('../images/sort.png') no-repeat 50% 50%;
	width: 36px;
	height: 26px;
	float: left;
	cursor: move;
	visibility: hidden;
}
#general-cpac-settings .cpac-option-list li:hover .cpac-sort-handle {
	visibility: visible;
}
#general-cpac-settings .cpac-option-list li .cpac-type-options {
	float: left;
	padding: 0;
	position: relative;
	width: 242px;
	height: 26px;
}
#general-cpac-settings .cpac-option-list li .cpac-type-options label {
	position: absolute;
	left: 22px;
	top: 5px;
	display: block;
	margin-right: 30px;
	overflow: hidden;
	height: 15px;
}
#general-cpac-settings .cpac-option-list li .cpac-type-options input {
	margin-top: 6px;
	cursor: pointer;
}
#general-cpac-settings .cpac-option-list li .cpac-type-options div.cpac-meta-title {
	position: absolute;
	right: 0;
	top: 0;
	color: #999999;
}
#general-cpac-settings .cpac-option-list li .cpac-type-options div.cpac-meta-title span {
	display: inline-block;
	margin: 5px 5px 0 0;
}
#general-cpac-settings .cpac-option-list li a.cpac-action {
	background: transparent url('../images/arrows.png') no-repeat scroll 50% 5px;
	height: 26px;
    width: 24px;
	float: right;
	display: block;
	text-indent: -999em;
	overflow: hidden;
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside {
	display: none;
	float: none;
	clear: both;
	background: #fbfbfb;
	border-top: 1px solid #DFDFDF;
	padding: 5px 10px;
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside label {
	width: 100px;
	display: inline-block;
}
#general-cpac-settings .cpac-option-list li .cpac-type-inside input.text {
	width: 154px;
}
#general-cpac-settings .cpac-add-column a {
	display: block;
}
#general-cpac-settings .cpac-option-list li.cpac-placeholder {
	border: 1px dashed #666;
	border-radius: 0;
	width: 280px;
	background: transparent;
}
#restore-cpac-settings .inside {
	padding: 10px;
}
#restore-cpac-settings.postbox {
	background: #FAF2F5;
    border: 1px solid #CFADB3;
    color: #832525;	
}
#restore-cpac-settings.postbox h3 {
	color: #832525;
	background: #FAF2F5;
}
#restore-cpac-settings .inside .button {
	margin: 0 0 10px;
	border: 1px solid #CFADB3;
    color: #832525;
}
#restore-cpac-settings .inside .description {
    color: #832525;
}