/* =General
-------------------------------------------------------------- */
.cpac-divider {
  display: inline-block;
  width: 14px;
  height: 12px;
  background: transparent url(../images/square.png) no-repeat 50% 7px;
}
span.status-closed {
  color: red;
}
.tablenav.top .cpac-edit {
  top: 0;
  display: inline-block;
  vertical-align: bottom;
}
/* =Images Column
-------------------------------------------------------------- */
.cpac-column-value-image {
  display: inline-block;
  background: transparent;
  margin-right: 2px;
  overflow: hidden;
}
.rtl .cpac-column-value-image {
  margin-left: 2px;
  margin-right: 0;
}
.cpac-column-value-image img {
  display: block;
  margin: 0 auto;
}
.column-column-attachment img {
  padding-right: 5px;
  padding-bottom: 4px;
}
.rtl .column-column-attachment img {
  padding-left: 5px;
  padding-right: 0;
}
/* =Color Column
-------------------------------------------------------------- */
div.cpac-color {
  line-height: 26px;
}
div.cpac-color span {
  display: block;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  float: left;
  height: 16px;
  line-height: 16px;
  margin-right: 12px;
  min-width: 30px;
  overflow: hidden;
  padding: 4px 5px;
  font-size: 10px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  min-width: 47px;
  text-align: center;
}
.rtl div.cpac-color span {
  float: right;
  margin-left: 12px;
  margin-right: 0;
}
/* =Available Sizes column
-------------------------------------------------------------- */
div.sizes span.not-available {
  color: #999;
}
/* =Actions column
-------------------------------------------------------------- */
.button.cpac-button-action {
  position: relative;
  text-indent: 9999px;
  margin-right: 4px;
  padding: 0 13px;
}
.button.cpac-button-action:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: 0;
}
/* =qTip2
-------------------------------------------------------------- */
.cpac-tip {
  display: inline-block;
}
.qtip.qtip-tipsy {
  background: rgba(0, 0, 0, 0.75);
  font-weight: normal;
  min-width: 25px;
}
