/* =General
-------------------------------------------------------------- */
.cpac-divider {
	display: inline-block;
	width: 14px;
	height: 12px;
	background: transparent url(../images/square.png) no-repeat 50% 7px;
}
span.status-open {}
span.status-closed {
	color: red;
}

/* =Images Column
-------------------------------------------------------------- */
.cpac-column-value-image {
	display: inline-block;
	background: transparent;
	margin-right: 2px;
	overflow: hidden;
}
.cpac-column-value-image img {
	display: block;
	margin: 0 auto;
}
.column-column-attachment img {
	padding-right: 5px;
	padding-bottom: 4px;
}

/* =Color Column
-------------------------------------------------------------- */
div.cpac-color {
	line-height: 26px;
}
div.cpac-color span {
    border: 1px solid #CCCCCC;
	display: block;
	-webkit-border-radius: 3px;
    border-radius: 3px;
	color: #ffffff;
    float: left;
    height: 16px;
    margin-right: 12px;
    min-width: 30px;
    overflow: hidden;
    padding: 4px 5px;
}

/* =Available Sizes column
-------------------------------------------------------------- */
div.sizes span.not-available {
	color: red;
}