/* Error: Undefined variable.
 *     ,
 * 462 |                 color: $ac-dark;
 *     |                        ^^^^^^^^
 *     '
 *   scss/table.scss 462:12  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a     \2577 \a 462 \2502                  color: $ac-dark;\a     \2502                         ^^^^^^^^\a     \2575 \a   scss/table.scss 462:12  root stylesheet";
}
