/* =General
-------------------------------------------------------------- */
.ac-divider {
  display: inline-block;
  width: 14px;
  height: 12px;
  background: transparent url(../images/square.png) no-repeat 50% 7px; }

span.status-closed {
  color: red; }

.actions #post-query-submit {
  float: left;
  vertical-align: middle;
  margin-bottom: 4px; }

.tablenav.top .cpac-edit {
  top: 2px;
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin-bottom: 4px; }
  body.edit-tags-php .tablenav.top .cpac-edit {
    float: none; }

span.dashicons.green {
  color: #46b450; }

span.dashicons.red {
  color: #dc3232; }

body.edit-php #delete_all {
  float: left;
  margin-right: 3px; }

body.users-php .tablenav .actions a.add-new-h2 {
  float: none;
  vertical-align: middle !important;
  top: 2px !important; }

@media screen and (max-width: 782px) {
  .tablenav.top .actions {
    display: block !important;
    margin-bottom: 4px; }
    .tablenav.top .actions * {
      display: none; }
    .tablenav.top .actions .cpac-edit {
      display: inline-block; } }

body.upload-php .tablenav.top .cpac-edit {
  float: none; }

/* =Column values
-------------------------------------------------------------- */
.ac-toggle-box-link:focus {
  outline: none;
  box-shadow: none; }

.ac-toggle-box-link .spinner {
  float: none;
  margin-top: -2px; }

.ac-toggle-box-link.loading .spinner {
  visibility: visible; }

.ac-toggle-box-contents-ajax {
  padding: 5px 0 0; }

.ac-toggle-box-contents {
  display: none;
  padding: 5px 0 0; }

table.ac-table-items {
  border-spacing: 0; }
  table.ac-table-items tr td {
    border: 0;
    margin: 0;
    padding: 0 0 3px; }
    table.ac-table-items tr td.ac-table-item-qty {
      color: #999;
      padding-right: 6px;
      text-align: left; }

/* =Storage Space column
-------------------------------------------------------------- */
.ac-upload-space .ac-upload-space-labels {
  display: table;
  width: 100%; }
  .ac-upload-space .ac-upload-space-labels .inner {
    display: table-row; }
    .ac-upload-space .ac-upload-space-labels .inner .ac-upload-space-icon {
      display: table-cell; }
      .ac-upload-space .ac-upload-space-labels .inner .ac-upload-space-icon:before {
        color: #82878c;
        content: "\f104";
        display: inline-block;
        font-family: 'dashicons', serif;
        width: 20px;
        height: 20px;
        font-size: 18px;
        line-height: 1;
        text-decoration: inherit;
        font-weight: normal;
        font-style: normal;
        vertical-align: top;
        text-align: center;
        margin-right: 4px; }
    .ac-upload-space .ac-upload-space-labels .inner .ac-upload-space-left {
      display: table-cell;
      white-space: nowrap; }
    .ac-upload-space .ac-upload-space-labels .inner .ac-upload-space-right {
      width: 100%;
      text-align: right;
      padding-left: 6px;
      display: table-cell;
      white-space: nowrap; }

.ac-upload-space .ac-upload-space-progress {
  margin-top: 6px;
  height: 3px;
  background: white;
  border: 1px solid #dfdfdf;
  position: relative; }
  .ac-upload-space .ac-upload-space-progress .ac-upload-space-progress-bar {
    background-color: #46b450;
    height: 100%;
    display: block; }

.ac-upload-space.warning .ac-upload-space-icon:before {
  color: #ffb900;
  content: "\f534";
  margin-top: 1px; }

.ac-upload-space.warning .ac-upload-space-progress-bar {
  background-color: #ffb900; }

.ac-upload-space.full .ac-upload-space-icon:before {
  color: #d54e21;
  content: "\f153";
  margin-top: 1px; }

.ac-upload-space.full .ac-upload-space-progress-bar {
  background-color: #dc3232; }

/* =Network screen
-------------------------------------------------------------- */
#form-site-list .tablenav .actions .cpac-edit {
  float: none; }

/* =General Column
-------------------------------------------------------------- */
.ac-inline-info {
  display: inline-block;
  border-radius: 3px;
  min-width: 8px;
  padding: 0 6px;
  min-height: 20px;
  background-color: #e9e9e9;
  text-align: center;
  margin-right: 7px;
  font-size: 11px;
  font-weight: bold; }

.ac-rounded {
  display: inline-block;
  border-radius: 10px;
  min-width: 8px;
  padding: 0 6px;
  height: 20px;
  background-color: #e0e0e0;
  text-align: center;
  margin-left: 7px;
  margin-right: 7px;
  font-size: 12px; }
  .ac-rounded.ac-rounded-first {
    margin-left: 0; }

.ac-spacing {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 4px; }

.cpac-suffix {
  margin-left: 8px;
  color: #808080; }

.ac-small-block {
  display: inline-block;
  border-radius: 3px;
  background-color: rgba(224, 224, 224, 0.6);
  padding: 2px 7px;
  margin: 0 5px 5px 0; }

.ac-more-link-show {
  cursor: pointer; }

.ac-show-more-block {
  display: none; }

.ac-more-link-hide {
  cursor: pointer; }

/* =Images Column
-------------------------------------------------------------- */
.ac-image {
  display: inline-block;
  margin-right: 2px;
  overflow: hidden;
  max-width: 100%;
  background-color: #ccc; }
  .ac-image img {
    display: block;
    margin: 0 auto; }
  .ac-image .ac-extension {
    font-size: 12px;
    line-height: 22px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; }
  .ac-image.ac-icon {
    background-color: transparent; }

.rtl .column-column-attachment img {
  padding-left: 5px;
  padding-right: 0; }

.ac-progress-bar {
  width: 100%;
  display: flex; }
  .ac-progress-bar .ac-label-main {
    width: 65px; }
  .ac-progress-bar .ac-bar-container {
    flex: auto;
    background-color: #fff;
    min-height: 22px;
    line-height: 22px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 2px; }
    .ac-progress-bar .ac-bar-container .ac-bar {
      height: 100%;
      background-color: #69c471;
      border-right: 1px solid #fff; }
    .ac-progress-bar .ac-bar-container .ac-label-left,
    .ac-progress-bar .ac-bar-container .ac-label-right {
      text-shadow: rgba(255, 255, 255, 0.65) 0 0 5px;
      color: #555;
      position: absolute; }
    .ac-progress-bar .ac-bar-container .ac-label-left {
      left: 5px; }
    .ac-progress-bar .ac-bar-container .ac-label-right {
      right: 5px; }
  .ac-progress-bar.full .ac-bar-container .ac-bar {
    background-color: rgba(255, 0, 0, 0.45);
    border: none; }
  .ac-progress-bar.dark .ac-bar-container {
    flex: auto;
    background-color: #a6a6a6;
    min-height: 22px;
    line-height: 22px;
    position: relative; }
    .ac-progress-bar.dark .ac-bar-container .ac-bar {
      height: 100%;
      background-color: #46b450;
      border-right: 1px solid #fff; }
    .ac-progress-bar.dark .ac-bar-container .ac-label-left {
      color: #fff;
      position: absolute;
      left: 5px; }
    .ac-progress-bar.dark .ac-bar-container .ac-label-right {
      color: #fff;
      position: absolute;
      right: 5px; }
  .ac-progress-bar.dark.full .ac-bar-container .ac-bar {
    background-color: rgba(255, 0, 0, 0.68);
    border: none; }

/* =Color Column
-------------------------------------------------------------- */
div.cpac-color {
  line-height: 26px; }

div.cpac-color span {
  display: block;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  float: left;
  height: 16px;
  line-height: 16px;
  margin-right: 12px;
  overflow: hidden;
  padding: 4px 5px;
  font-size: 10px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  min-width: 47px;
  text-align: center; }

.rtl div.cpac-color span {
  float: right;
  margin-left: 12px;
  margin-right: 0; }

/* =Available Sizes column
-------------------------------------------------------------- */
div.sizes span.not-available {
  color: #999; }

/* =Actions column
-------------------------------------------------------------- */
.button.cpac-button-action {
  position: relative;
  text-indent: 9999px;
  margin-right: 4px;
  padding: 0 13px;
  overflow: hidden; }
  .button.cpac-button-action:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: 0; }

.cpac_wp_button, .column-actions.cpac_use_icons .row-actions > span a {
  color: #555;
  background: #f7f7f7;
  box-shadow: 0 1px 0 #ccc;
  vertical-align: top;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box; }
  .cpac_wp_button:hover, .column-actions.cpac_use_icons .row-actions > span a:hover {
    background: #fafafa;
    color: #23282d;
    border-color: #999; }

.column-actions .row-actions {
  left: 0;
  position: relative; }

.column-actions.cpac_use_icons .row-actions > span {
  color: transparent;
  margin-right: -8px; }
  .column-actions.cpac_use_icons .row-actions > span a {
    display: inline-block;
    position: relative;
    min-width: 26px;
    margin-bottom: 5px; }
    .column-actions.cpac_use_icons .row-actions > span a:before {
      text-indent: 0;
      font-family: Dashicons, sans-serif;
      font-size: 16px;
      position: absolute;
      padding-left: 4px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .column-actions.cpac_use_icons .row-actions > span.edit a, .column-actions.cpac_use_icons .row-actions > span.inline a, .column-actions.cpac_use_icons .row-actions > span.trash a, .column-actions.cpac_use_icons .row-actions > span.view a, .column-actions.cpac_use_icons .row-actions > span.quickedit a, .column-actions.cpac_use_icons .row-actions > span.approve a, .column-actions.cpac_use_icons .row-actions > span.unapprove a, .column-actions.cpac_use_icons .row-actions > span.spam a, .column-actions.cpac_use_icons .row-actions > span.untrash a, .column-actions.cpac_use_icons .row-actions > span.unspam a, .column-actions.cpac_use_icons .row-actions > span.reply a, .column-actions.cpac_use_icons .row-actions > span.delete a {
    text-indent: -3000px; }
    .column-actions.cpac_use_icons .row-actions > span.edit a:before, .column-actions.cpac_use_icons .row-actions > span.inline a:before, .column-actions.cpac_use_icons .row-actions > span.trash a:before, .column-actions.cpac_use_icons .row-actions > span.view a:before, .column-actions.cpac_use_icons .row-actions > span.quickedit a:before, .column-actions.cpac_use_icons .row-actions > span.approve a:before, .column-actions.cpac_use_icons .row-actions > span.unapprove a:before, .column-actions.cpac_use_icons .row-actions > span.spam a:before, .column-actions.cpac_use_icons .row-actions > span.untrash a:before, .column-actions.cpac_use_icons .row-actions > span.unspam a:before, .column-actions.cpac_use_icons .row-actions > span.reply a:before, .column-actions.cpac_use_icons .row-actions > span.delete a:before {
      text-indent: 0;
      font-family: Dashicons, sans-serif; }
  .column-actions.cpac_use_icons .row-actions > span.edit a:before {
    content: "\f464"; }
  .column-actions.cpac_use_icons .row-actions > span.inline a:before, .column-actions.cpac_use_icons .row-actions > span.quickedit a:before {
    content: "\f119"; }
  .column-actions.cpac_use_icons .row-actions > span.trash a {
    border-radius: 3px;
    border: 1px solid #ccc; }
    .column-actions.cpac_use_icons .row-actions > span.trash a:before {
      content: "\f182"; }
    .column-actions.cpac_use_icons .row-actions > span.trash a:hover {
      border-color: #999; }
  .column-actions.cpac_use_icons .row-actions > span.view a:before {
    content: "\f177"; }
  .column-actions.cpac_use_icons .row-actions > span.unapprove a:before {
    content: "\f158"; }
  .column-actions.cpac_use_icons .row-actions > span.approve a:before {
    content: "\f147"; }
  .column-actions.cpac_use_icons .row-actions > span.spam a:before {
    content: "\f117"; }
  .column-actions.cpac_use_icons .row-actions > span.reply a:before {
    content: "\f473"; }
  .column-actions.cpac_use_icons .row-actions > span.untrash a:before, .column-actions.cpac_use_icons .row-actions > span.unspam a:before {
    content: "\f171"; }
  .column-actions.cpac_use_icons .row-actions > span.delete a:before {
    content: "\f182"; }

/* Responsive table screen
-------------------------------------------------------------- */
@media screen and (max-width: 782px) {
  .wp-list-table.widefat thead th {
    display: none; }
    .wp-list-table.widefat thead th.column-primary {
      display: table-cell; }
  .wp-list-table.widefat tbody tr:not(.inline-edit-row):not(.no-items) td {
    display: none; }
    .wp-list-table.widefat tbody tr:not(.inline-edit-row):not(.no-items) td.column-primary {
      display: block; } }

/* =qTip2
-------------------------------------------------------------- */
.ac-tip {
  display: inline-block; }

.qtip.qtip-tipsy {
  background: rgba(0, 0, 0, 0.75);
  font-weight: normal;
  min-width: 25px; }
