.acu-invisible {
  visibility: hidden
}

.acu-absolute {
  position: absolute
}

.acu-relative {
  position: relative
}

.acu-sticky {
  position: sticky
}

.acu-bottom-\[0\] {
  bottom: 0
}

.acu-right-\[20px\] {
  right: 20px
}

.acu-top-\[-3px\] {
  top: -3px
}

.acu-top-\[0\] {
  top: 0
}

.acu-top-\[3px\] {
  top: 3px
}

.acu-right-\[10px\] {
  right: 10px
}

.acu-top-\[5px\] {
  top: 5px
}

.acu-top-\[7px\] {
  top: 7px
}

.acu-z-0 {
  z-index: 0
}

.acu-z-10 {
  z-index: 10
}

.acu-my-6 {
  margin-top: 30px;
  margin-bottom: 30px
}

.acu-mb-1 {
  margin-bottom: 5px
}

.acu-mb-1\.5 {
  margin-bottom: 8px
}

.acu-mb-2 {
  margin-bottom: 10px
}

.acu-mb-3 {
  margin-bottom: 15px
}

.acu-mb-4 {
  margin-bottom: 20px
}

.acu-mb-6 {
  margin-bottom: 30px
}

.acu-mb-8 {
  margin-bottom: 40px
}

.acu-mr-1 {
  margin-right: 5px
}

.acu-mr-2 {
  margin-right: 10px
}

.acu-mt-\[-2px\] {
  margin-top: -2px
}

.acu-mt-\[-35px\] {
  margin-top: -35px
}

.acu-mt-\[0\] {
  margin-top: 0
}

.acu-block {
  display: block
}

.acu-inline-block {
  display: inline-block
}

.acu-flex {
  display: flex
}

.acu-hidden {
  display: none
}

.acu-h-6 {
  height: 30px
}

.acu-h-\[38px\] {
  height: 38px
}

.acu-min-h-\[calc\(100vh_-_70px\)\] {
  min-height: calc(100vh - 70px)
}

.acu-w-1\/3 {
  width: 33.333333%
}

.acu-w-\[100\%\] {
  width: 100%
}

.acu-w-\[120px\] {
  width: 120px
}

.acu-w-\[180px\] {
  width: 180px
}

.acu-w-\[220px\] {
  width: 220px
}

.acu-w-\[260px\] {
  width: 260px
}

.acu-w-full {
  width: 100%
}

.acu-max-w-\[1200px\] {
  max-width: 1200px
}

.acu-max-w-full {
  max-width: 100%
}

.acu-flex-1 {
  flex: 1 1 0%
}

.acu-flex-auto {
  flex: 1 1 auto
}

.acu-flex-shrink-0 {
  flex-shrink: 0
}

.acu-flex-grow {
  flex-grow: 1
}

.acu-grow {
  flex-grow: 1
}

.acu-table-fixed {
  table-layout: fixed
}

.acu-translate-y-\[-1px\] {
  --tw-translate-y: -1px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.acu-transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.acu-cursor-default {
  cursor: default
}

.acu-cursor-move {
  cursor: move
}

.acu-cursor-pointer {
  cursor: pointer
}

.acu-appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none
}

.acu-flex-row-reverse {
  flex-direction: row-reverse
}

.acu-flex-col {
  flex-direction: column
}

.acu-flex-wrap {
  flex-wrap: wrap
}

.acu-items-center {
  align-items: center
}

.acu-justify-end {
  justify-content: flex-end
}

.acu-justify-center {
  justify-content: center
}

.acu-gap-1 {
  gap: 5px
}

.acu-gap-2 {
  gap: 10px
}

.acu-gap-3 {
  gap: 15px
}

.acu-overflow-hidden {
  overflow: hidden
}

.acu-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.acu-whitespace-nowrap {
  white-space: nowrap
}

.acu-rounded-\[5px\] {
  border-radius: 5px
}

.acu-rounded-full {
  border-radius: 9999px
}

.acu-rounded-lg {
  border-radius: 0.5rem
}

.acu-rounded-\[3px\] {
  border-radius: 3px
}

.acu-rounded-b-lg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem
}

.acu-border {
  border-width: 1px
}

.acu-border-0 {
  border-width: 0px
}

.acu-border-2 {
  border-width: 2px
}

.acu-border-b {
  border-bottom-width: 1px
}

.acu-border-s-2 {
  border-inline-start-width: 2px
}

.acu-border-solid {
  border-style: solid
}

.acu-border-none {
  border-style: none
}

.acu-border-\[transparent\] {
  border-color: transparent
}

.acu-border-ui-border {
  border-color: var(--acui-border)
}

.acu-bg-\[\#E2E8F0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity))
}

.acu-bg-\[\#F1F5F9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity))
}

.acu-bg-\[\#fff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.acu-bg-\[transparent\] {
  background-color: transparent
}

.acu-bg-\[white\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.acu-bg-gray-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(61 67 80 / var(--tw-bg-opacity))
}

.acu-bg-notification-red {
  background-color: var(--ac-notification-red)
}

.acu-bg-none {
  background-image: none
}

.acu-p-1 {
  padding: 5px
}

.acu-p-10 {
  padding: 50px
}

.acu-p-2 {
  padding: 10px
}

.acu-p-4 {
  padding: 20px
}

.acu-p-\[0\] {
  padding: 0
}

.acu-p-\[2px\] {
  padding: 2px
}

.acu-px-1 {
  padding-left: 5px;
  padding-right: 5px
}

.acu-px-2 {
  padding-left: 10px;
  padding-right: 10px
}

.acu-px-3 {
  padding-left: 15px;
  padding-right: 15px
}

.acu-px-4 {
  padding-left: 20px;
  padding-right: 20px
}

.acu-px-6 {
  padding-left: 30px;
  padding-right: 30px
}

.acu-px-\[50px\] {
  padding-left: 50px;
  padding-right: 50px
}

.acu-py-0\.5 {
  padding-top: 3px;
  padding-bottom: 3px
}

.acu-py-1 {
  padding-top: 5px;
  padding-bottom: 5px
}

.acu-py-1\.5 {
  padding-top: 8px;
  padding-bottom: 8px
}

.acu-py-2 {
  padding-top: 10px;
  padding-bottom: 10px
}

.acu-py-3 {
  padding-top: 15px;
  padding-bottom: 15px
}

.acu-py-6 {
  padding-top: 30px;
  padding-bottom: 30px
}

.acu-py-8 {
  padding-top: 40px;
  padding-bottom: 40px
}

.acu-py-\[7px\] {
  padding-top: 7px;
  padding-bottom: 7px
}

.acu-pb-4 {
  padding-bottom: 20px
}

.acu-pb-6 {
  padding-bottom: 30px
}

.acu-pb-8 {
  padding-bottom: 40px
}

.acu-pl-3 {
  padding-left: 15px
}

.acu-pl-4 {
  padding-left: 20px
}

.acu-pl-8 {
  padding-left: 40px
}

.acu-pl-8\.5 {
  padding-left: 43px
}

.acu-pr-2 {
  padding-right: 10px
}

.acu-pr-3 {
  padding-right: 15px
}

.acu-pr-6 {
  padding-right: 30px
}

.acu-pr-\[30px\] {
  padding-right: 30px
}

.acu-pt-1 {
  padding-top: 5px
}

.acu-pt-2 {
  padding-top: 10px
}

.acu-pt-3 {
  padding-top: 15px
}

.acu-pt-4 {
  padding-top: 20px
}

.acu-text-center {
  text-align: center
}

.acu-text-right {
  text-align: right
}

.acu-text-\[12px\] {
  font-size: 12px
}

.acu-text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.acu-font-bold {
  font-weight: 700
}

.acu-font-medium {
  font-weight: 500
}

.acu-font-semibold {
  font-weight: 600
}

.acu-uppercase {
  text-transform: uppercase
}

.acu-text-\[\#777\] {
  --tw-text-opacity: 1;
  color: rgb(119 119 119 / var(--tw-text-opacity))
}

.acu-text-\[\#888\] {
  --tw-text-opacity: 1;
  color: rgb(136 136 136 / var(--tw-text-opacity))
}

.acu-text-\[\#B4B4B4\] {
  --tw-text-opacity: 1;
  color: rgb(180 180 180 / var(--tw-text-opacity))
}

.acu-text-\[\#D63638\] {
  --tw-text-opacity: 1;
  color: rgb(214 54 56 / var(--tw-text-opacity))
}

.acu-text-\[\#FE3D6C\] {
  --tw-text-opacity: 1;
  color: rgb(254 61 108 / var(--tw-text-opacity))
}

.acu-text-\[\#fff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.acu-text-acbase {
  color: var(--ac-text-color)
}

.acu-text-link {
  color: var(--ac-link)
}

.acu-text-notification-red {
  color: var(--ac-notification-red)
}

.acu-text-\[\#FE3D6C\!important\] {
  color: #FE3D6C !important
}

.acu-no-underline {
  text-decoration-line: none
}

.\[key\:string\] {
  key: string
}

.last\:acu-mb-\[0\]:last-child {
  margin-bottom: 0
}

.last\:acu-border-b-0:last-child {
  border-bottom-width: 0px
}

.last\:acu-pb-\[0\]:last-child {
  padding-bottom: 0
}

.focus-within\:acu-border-2:focus-within {
  border-width: 2px
}

.focus-within\:acu-border-solid:focus-within {
  border-style: solid
}

.focus-within\:acu-border-\[black\]:focus-within {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.focus-within\:acu-bg-\[white\]:focus-within {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.focus-within\:acu-bg-notification-red:focus-within {
  background-color: var(--ac-notification-red)
}

.focus-within\:acu-bg-\[red\]:focus-within {
  --tw-bg-opacity: 1;
  background-color: rgb(255 0 0 / var(--tw-bg-opacity))
}

.focus-within\:acu-shadow:focus-within {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.focus-within\:acu-shadow-\[0_0_0_2px_\#2271b1\]:focus-within {
  --tw-shadow: 0 0 0 2px #2271b1;
  --tw-shadow-colored: 0 0 0 2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.focus-within\:acu-outline-2:focus-within {
  outline-width: 2px
}

.hover\:acu-bg-\[white\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.hover\:acu-text-\[\#fff\]:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.hover\:acu-text-acbase:hover {
  color: var(--ac-text-color)
}

.hover\:acu-text-link-hover:hover {
  color: var(--ac-link-hover)
}

.hover\:acu-text-notification-blue:hover {
  color: var(--ac-notification-blue)
}

.hover\:acu-text-notification-red:hover {
  color: var(--ac-notification-red)
}

.hover\:acu-text-\[\#FE3D6C\]:hover {
  --tw-text-opacity: 1;
  color: rgb(254 61 108 / var(--tw-text-opacity))
}

.hover\:acu-text-\[\#FE3D6C\!important\]:hover {
  color: #FE3D6C !important
}

.focus\:acu-border-2:focus {
  border-width: 2px
}

.focus\:acu-bg-notification-red:focus {
  background-color: var(--ac-notification-red)
}

.acu-group:focus-within .group-focus-within\:acu-visible {
  visibility: visible
}

.acu-group:hover .group-hover\:acu-visible {
  visibility: visible
}

.acu-group:focus .group-focus\:acu-visible {
  visibility: visible
}

@media (min-width: 782px) {
  .md\:acu-flex {
    display: flex
  }
}

@media (min-width: 960px) {
  .lg\:acu-mr-6 {
    margin-right: 30px
  }

  .lg\:acu-flex {
    display: flex
  }

  .lg\:acu-w-\[200px\] {
    width: 200px
  }

  .lg\:acu-py-2 {
    padding-top: 10px;
    padding-bottom: 10px
  }

  .lg\:acu-pt-1 {
    padding-top: 5px
  }
}

@media (min-width: 1280px) {
  .xl\:acu-block {
    display: block
  }

  .xl\:acu-flex {
    display: flex
  }

  .xl\:acu-hidden {
    display: none
  }

  .xl\:acu-w-1\/2 {
    width: 50%
  }

  .xl\:acu-w-\[200px\] {
    width: 200px
  }

  .xl\:acu-w-\[250px\] {
    width: 250px
  }

  .xl\:acu-flex-row {
    flex-direction: row
  }

  .xl\:acu-flex-row-reverse {
    flex-direction: row-reverse
  }

  .xl\:acu-gap-6 {
    gap: 30px
  }

  .xl\:acu-bg-\[\#EAF0F6\] {
    --tw-bg-opacity: 1;
    background-color: rgb(234 240 246 / var(--tw-bg-opacity))
  }

  .xl\:acu-px-\[50px\] {
    padding-left: 50px;
    padding-right: 50px
  }

  .xl\:acu-pt-\[60px\] {
    padding-top: 60px
  }
}

@media (min-width: 1450px) {
  .\32xl\:acu-block {
    display: block
  }

  .\32xl\:acu-hidden {
    display: none
  }

  .\32xl\:acu-w-\[250px\] {
    width: 250px
  }

  .\32xl\:acu-flex-row {
    flex-direction: row
  }

  .\32xl\:acu-bg-\[\#EAF0F6\] {
    --tw-bg-opacity: 1;
    background-color: rgb(234 240 246 / var(--tw-bg-opacity))
  }

  .\32xl\:acu-px-\[50px\] {
    padding-left: 50px;
    padding-right: 50px
  }

  .\32xl\:acu-pt-\[60px\] {
    padding-top: 60px
  }
}

@media (min-width: 1600px) {
  .\33xl\:acu-w-\[250px\] {
    width: 250px
  }

  .\33xl\:acu-w-\[260px\] {
    width: 260px
  }
}

.\[\&\.-active\]\:acu-bg-\[\#E2E8F0\].-active {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity))
}

.\[\&\.-active\]\:acu-text-\[\#475569\].-active {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity))
}