.acu-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.acu-mb-1 {
  margin-bottom: 5px
}

.acu-mb-1\.5 {
  margin-bottom: 8px
}

.acu-mb-2 {
  margin-bottom: 10px
}

.acu-mb-3 {
  margin-bottom: 15px
}

.acu-mb-4 {
  margin-bottom: 20px
}

.acu-mb-6 {
  margin-bottom: 30px
}

.acu-mr-1 {
  margin-right: 5px
}

.acu-mr-2 {
  margin-right: 10px
}

.acu-block {
  display: block
}

.acu-inline-block {
  display: inline-block
}

.acu-flex {
  display: flex
}

.acu-w-1\/3 {
  width: 33.333333%
}

.acu-flex-1 {
  flex: 1 1 0%
}

.acu-flex-grow {
  flex-grow: 1
}

.acu-grow {
  flex-grow: 1
}

.acu-translate-y-\[-1px\] {
  --tw-translate-y: -1px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.acu-cursor-move {
  cursor: move
}

.acu-cursor-pointer {
  cursor: pointer
}

.acu-flex-row-reverse {
  flex-direction: row-reverse
}

.acu-items-center {
  align-items: center
}

.acu-justify-center {
  justify-content: center
}

.acu-gap-3 {
  gap: 15px
}

.acu-bg-\[\#fc0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 204 0 / var(--tw-bg-opacity))
}

.acu-bg-\[\#F1F5F9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity))
}

.acu-p-10 {
  padding: 50px
}

.acu-px-2 {
  padding-left: 10px;
  padding-right: 10px
}

.acu-py-0\.5 {
  padding-top: 3px;
  padding-bottom: 3px
}

.acu-py-8 {
  padding-top: 40px;
  padding-bottom: 40px
}

.acu-pb-4 {
  padding-bottom: 20px
}

.acu-pl-3 {
  padding-left: 15px
}

.acu-pl-8 {
  padding-left: 40px
}

.acu-pl-8\.5 {
  padding-left: 43px
}

.acu-pt-3 {
  padding-top: 15px
}

.acu-text-center {
  text-align: center
}

.acu-text-right {
  text-align: right
}

.acu-font-bold {
  font-weight: 700
}

.acu-font-medium {
  font-weight: 500
}

.acu-uppercase {
  text-transform: uppercase
}

.acu-text-\[\#777\] {
  --tw-text-opacity: 1;
  color: rgb(119 119 119 / var(--tw-text-opacity))
}

.acu-text-\[\#888\] {
  --tw-text-opacity: 1;
  color: rgb(136 136 136 / var(--tw-text-opacity))
}

.acu-text-notification-red {
  color: var(--ac-notification-red)
}

.\[key\:string\] {
  key: string
}

@media (min-width: 1280px) {
  .xl\:acu-flex {
    display: flex
  }
}