.acu-mb-4 {
  margin-bottom: 20px
}

.acu-mb-1\.5 {
  margin-bottom: 8px
}

.acu-mb-1 {
  margin-bottom: 5px
}

.acu-block {
  display: block
}

.acu-grow {
  flex-grow: 1
}

.acu-pb-6 {
  padding-bottom: 30px
}

.acu-pr-1 {
  padding-right: 5px
}

.acu-pt-3 {
  padding-top: 15px
}

.acu-pl-8\.5 {
  padding-left: 43px
}

.acu-pl-8 {
  padding-left: 40px
}

.acu-uppercase {
  text-transform: uppercase
}

@media (min-width: 1024px) {
  .lg\:acu-flex {
    display: flex
  }
}