*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  
}

.acu-invisible {
  visibility: hidden
}

.acu-absolute {
  position: absolute
}

.acu-relative {
  position: relative
}

.acu-sticky {
  position: sticky
}

.acu-bottom-3 {
  bottom: 15px
}

.acu-bottom-\[20px\] {
  bottom: 20px
}

.acu-left-1\/2 {
  left: 50%
}

.acu-left-3 {
  left: 15px
}

.acu-right-3 {
  right: 15px
}

.acu-right-\[0\] {
  right: 0
}

.acu-right-\[10px\] {
  right: 10px
}

.acu-right-\[20px\] {
  right: 20px
}

.acu-top-1\/2 {
  top: 50%
}

.acu-top-\[0\] {
  top: 0
}

.acu-top-\[50\%\] {
  top: 50%
}

.acu-top-\[7px\] {
  top: 7px
}

.acu-z-10 {
  z-index: 10
}

.acu-m-1 {
  margin: 5px
}

.acu-mx-\[50px\] {
  margin-left: 50px;
  margin-right: 50px
}

.acu-my-2 {
  margin-top: 10px;
  margin-bottom: 10px
}

.acu-my-6 {
  margin-top: 30px;
  margin-bottom: 30px
}

.acu-my-\[0\] {
  margin-top: 0;
  margin-bottom: 0
}

.acu-mb-1 {
  margin-bottom: 5px
}

.acu-mb-1\.5 {
  margin-bottom: 8px
}

.acu-mb-2 {
  margin-bottom: 10px
}

.acu-mb-3 {
  margin-bottom: 15px
}

.acu-mb-4 {
  margin-bottom: 20px
}

.acu-mb-5 {
  margin-bottom: 25px
}

.acu-mb-6 {
  margin-bottom: 30px
}

.acu-mb-8 {
  margin-bottom: 40px
}

.acu-mb-\[10px\] {
  margin-bottom: 10px
}

.acu-mb-\[15px\] {
  margin-bottom: 15px
}

.acu-mb-\[30px\] {
  margin-bottom: 30px
}

.acu-ml-6 {
  margin-left: 30px
}

.acu-ml-\[28px\] {
  margin-left: 28px
}

.acu-ml-\[2px\] {
  margin-left: 2px
}

.acu-mr-1 {
  margin-right: 5px
}

.acu-mr-2 {
  margin-right: 10px
}

.acu-mr-4 {
  margin-right: 20px
}

.acu-mt-1 {
  margin-top: 5px
}

.acu-mt-3 {
  margin-top: 15px
}

.acu-mt-6 {
  margin-top: 30px
}

.acu-mt-8 {
  margin-top: 40px
}

.acu-mt-\[-2px\] {
  margin-top: -2px
}

.acu-mt-\[-8px\] {
  margin-top: -8px
}

.acu-mt-\[0\] {
  margin-top: 0
}

.acu-block {
  display: block
}

.acu-inline-block {
  display: inline-block
}

.acu-flex {
  display: flex
}

.acu-hidden {
  display: none
}

.acu-aspect-\[1\.91\/1\] {
  aspect-ratio: 1.91/1
}

.acu-h-6 {
  height: 30px
}

.acu-h-\[100px\] {
  height: 100px
}

.acu-h-\[120px\] {
  height: 120px
}

.acu-h-\[16px\] {
  height: 16px
}

.acu-h-\[200px\] {
  height: 200px
}

.acu-h-\[38px\] {
  height: 38px
}

.acu-h-\[40px\] {
  height: 40px
}

.acu-h-\[60px\] {
  height: 60px
}

.acu-h-full {
  height: 100%
}

.acu-max-h-\[80px\] {
  max-height: 80px
}

.acu-min-h-\[150px\] {
  min-height: 150px
}

.acu-min-h-\[calc\(100vh_-_70px\)\] {
  min-height: calc(100vh - 70px)
}

.acu-w-1\/2 {
  width: 50%
}

.acu-w-\[100\%\] {
  width: 100%
}

.acu-w-\[120px\] {
  width: 120px
}

.acu-w-\[150px\] {
  width: 150px
}

.acu-w-\[16px\] {
  width: 16px
}

.acu-w-\[180px\] {
  width: 180px
}

.acu-w-\[260px\] {
  width: 260px
}

.acu-w-\[40px\] {
  width: 40px
}

.acu-w-\[60px\] {
  width: 60px
}

.acu-w-fit {
  width: -moz-fit-content;
  width: fit-content
}

.acu-w-full {
  width: 100%
}

.acu-min-w-\[200px\] {
  min-width: 200px
}

.acu-min-w-\[280px\] {
  min-width: 280px
}

.acu-min-w-\[35px\] {
  min-width: 35px
}

.acu-max-w-\[1075px\] {
  max-width: 1075px
}

.acu-max-w-\[1200px\] {
  max-width: 1200px
}

.acu-max-w-\[1420px\] {
  max-width: 1420px
}

.acu-max-w-\[1490px\] {
  max-width: 1490px
}

.acu-max-w-\[1520px\] {
  max-width: 1520px
}

.acu-max-w-\[1640px\] {
  max-width: 1640px
}

.acu-max-w-\[260px\] {
  max-width: 260px
}

.acu-max-w-\[400px\] {
  max-width: 400px
}

.acu-max-w-\[425px\] {
  max-width: 425px
}

.acu-max-w-\[500px\] {
  max-width: 500px
}

.acu-max-w-\[700px\] {
  max-width: 700px
}

.acu-max-w-\[80\%\] {
  max-width: 80%
}

.acu-max-w-\[960px\] {
  max-width: 960px
}

.acu-max-w-full {
  max-width: 100%
}

.acu-flex-1 {
  flex: 1 1 0%
}

.acu-flex-auto {
  flex: 1 1 auto
}

.acu-flex-shrink-0 {
  flex-shrink: 0
}

.acu-shrink-0 {
  flex-shrink: 0
}

.acu-flex-grow {
  flex-grow: 1
}

.acu-grow {
  flex-grow: 1
}

.acu-table-fixed {
  table-layout: fixed
}

.acu-translate-y-\[-1px\] {
  --tw-translate-y: -1px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.acu-translate-y-\[4px\] {
  --tw-translate-y: 4px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.acu-rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.acu-transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.acu-cursor-default {
  cursor: default
}

.acu-cursor-move {
  cursor: move
}

.acu-cursor-pointer {
  cursor: pointer
}

.acu-appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none
}

.acu-flex-row-reverse {
  flex-direction: row-reverse
}

.acu-flex-col {
  flex-direction: column
}

.acu-flex-col-reverse {
  flex-direction: column-reverse
}

.acu-flex-wrap {
  flex-wrap: wrap
}

.acu-items-center {
  align-items: center
}

.acu-justify-start {
  justify-content: flex-start
}

.acu-justify-end {
  justify-content: flex-end
}

.acu-justify-center {
  justify-content: center
}

.acu-gap-1 {
  gap: 5px
}

.acu-gap-2 {
  gap: 10px
}

.acu-gap-3 {
  gap: 15px
}

.acu-gap-4 {
  gap: 20px
}

.acu-gap-8 {
  gap: 40px
}

.acu-gap-\[20px\] {
  gap: 20px
}

.acu-overflow-hidden {
  overflow: hidden
}

.acu-overflow-x-auto {
  overflow-x: auto
}

.acu-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.acu-whitespace-nowrap {
  white-space: nowrap
}

.acu-text-wrap {
  text-wrap: wrap
}

.acu-break-words {
  overflow-wrap: break-word
}

.acu-rounded {
  border-radius: 0.25rem
}

.acu-rounded-\[10px\] {
  border-radius: 10px
}

.acu-rounded-\[3px\] {
  border-radius: 3px
}

.acu-rounded-\[5px\] {
  border-radius: 5px
}

.acu-rounded-full {
  border-radius: 9999px
}

.acu-rounded-lg {
  border-radius: 0.5rem
}

.acu-rounded-b-\[10px\] {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px
}

.acu-rounded-t-\[10px\] {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px
}

.acu-border {
  border-width: 1px
}

.acu-border-0 {
  border-width: 0px
}

.acu-border-b {
  border-bottom-width: 1px
}

.acu-border-t {
  border-top-width: 1px
}

.acu-border-solid {
  border-style: solid
}

.acu-border-none {
  border-style: none
}

.acu-border-\[\#C8C8C8\] {
  --tw-border-opacity: 1;
  border-color: rgb(200 200 200 / var(--tw-border-opacity, 1))
}

.acu-border-\[\#c3c4c7\] {
  --tw-border-opacity: 1;
  border-color: rgb(195 196 199 / var(--tw-border-opacity, 1))
}

.acu-border-\[transparent\] {
  border-color: transparent
}

.acu-border-ui-border {
  border-color: var(--acui-border)
}

.acu-border-b-ui-border {
  border-bottom-color: var(--acui-border)
}

.acu-bg-\[\#E2E8F0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity, 1))
}

.acu-bg-\[\#F1F5F9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1))
}

.acu-bg-\[\#F5F5F5\] {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity, 1))
}

.acu-bg-\[\#F9FAFB\] {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1))
}

.acu-bg-\[\#e9426e\] {
  --tw-bg-opacity: 1;
  background-color: rgb(233 66 110 / var(--tw-bg-opacity, 1))
}

.acu-bg-\[\#eee\] {
  --tw-bg-opacity: 1;
  background-color: rgb(238 238 238 / var(--tw-bg-opacity, 1))
}

.acu-bg-\[\#fff\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.acu-bg-\[transparent\] {
  background-color: transparent
}

.acu-bg-\[white\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.acu-bg-gray-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(61 67 80 / var(--tw-bg-opacity, 1))
}

.acu-bg-none {
  background-image: none
}

.acu-object-cover {
  -o-object-fit: cover;
     object-fit: cover
}

.acu-p-1 {
  padding: 5px
}

.acu-p-10 {
  padding: 50px
}

.acu-p-2 {
  padding: 10px
}

.acu-p-4 {
  padding: 20px
}

.acu-p-5 {
  padding: 25px
}

.acu-p-\[0\] {
  padding: 0
}

.acu-p-\[20px\] {
  padding: 20px
}

.acu-p-\[2px\] {
  padding: 2px
}

.acu-p-\[5px\] {
  padding: 5px
}

.acu-px-1 {
  padding-left: 5px;
  padding-right: 5px
}

.acu-px-10 {
  padding-left: 50px;
  padding-right: 50px
}

.acu-px-2 {
  padding-left: 10px;
  padding-right: 10px
}

.acu-px-3 {
  padding-left: 15px;
  padding-right: 15px
}

.acu-px-4 {
  padding-left: 20px;
  padding-right: 20px
}

.acu-px-5 {
  padding-left: 25px;
  padding-right: 25px
}

.acu-px-6 {
  padding-left: 30px;
  padding-right: 30px
}

.acu-px-\[0\] {
  padding-left: 0;
  padding-right: 0
}

.acu-px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px
}

.acu-py-0\.5 {
  padding-top: 3px;
  padding-bottom: 3px
}

.acu-py-1 {
  padding-top: 5px;
  padding-bottom: 5px
}

.acu-py-1\.5 {
  padding-top: 8px;
  padding-bottom: 8px
}

.acu-py-2 {
  padding-top: 10px;
  padding-bottom: 10px
}

.acu-py-3 {
  padding-top: 15px;
  padding-bottom: 15px
}

.acu-py-6 {
  padding-top: 30px;
  padding-bottom: 30px
}

.acu-py-8 {
  padding-top: 40px;
  padding-bottom: 40px
}

.acu-py-\[2px\] {
  padding-top: 2px;
  padding-bottom: 2px
}

.acu-pb-10 {
  padding-bottom: 50px
}

.acu-pb-4 {
  padding-bottom: 20px
}

.acu-pb-6 {
  padding-bottom: 30px
}

.acu-pb-8 {
  padding-bottom: 40px
}

.acu-pb-\[20px\] {
  padding-bottom: 20px
}

.acu-pl-1 {
  padding-left: 5px
}

.acu-pl-2 {
  padding-left: 10px
}

.acu-pl-3 {
  padding-left: 15px
}

.acu-pl-4 {
  padding-left: 20px
}

.acu-pl-5 {
  padding-left: 25px
}

.acu-pl-8\.5 {
  padding-left: 43px
}

.acu-pl-\[14px\] {
  padding-left: 14px
}

.acu-pl-\[4px\] {
  padding-left: 4px
}

.acu-pl-\[50px\] {
  padding-left: 50px
}

.acu-pr-1 {
  padding-right: 5px
}

.acu-pr-2 {
  padding-right: 10px
}

.acu-pr-6 {
  padding-right: 30px
}

.acu-pr-\[30px\] {
  padding-right: 30px
}

.acu-pr-\[40px\] {
  padding-right: 40px
}

.acu-pt-1 {
  padding-top: 5px
}

.acu-pt-2 {
  padding-top: 10px
}

.acu-pt-4 {
  padding-top: 20px
}

.acu-pt-5 {
  padding-top: 25px
}

.acu-pt-6 {
  padding-top: 30px
}

.acu-pt-\[0\] {
  padding-top: 0
}

.acu-pt-\[10px\] {
  padding-top: 10px
}

.acu-pt-\[20px\] {
  padding-top: 20px
}

.acu-pt-\[70px\] {
  padding-top: 70px
}

.acu-text-left {
  text-align: left
}

.acu-text-center {
  text-align: center
}

.acu-text-right {
  text-align: right
}

.acu-font-mono {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

.\!acu-text-\[20px\] {
  font-size: 20px !important
}

.acu-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.acu-text-\[10px\] {
  font-size: 10px
}

.acu-text-\[11px\] {
  font-size: 11px
}

.acu-text-\[12px\] {
  font-size: 12px
}

.acu-text-\[14px\] {
  font-size: 14px
}

.acu-text-\[15px\] {
  font-size: 15px
}

.acu-text-\[16px\] {
  font-size: 16px
}

.acu-text-\[18px\] {
  font-size: 18px
}

.acu-text-\[20px\] {
  font-size: 20px
}

.acu-text-\[22px\] {
  font-size: 22px
}

.acu-text-\[24px\] {
  font-size: 24px
}

.acu-text-\[25px\] {
  font-size: 25px
}

.acu-text-\[28px\] {
  font-size: 28px
}

.acu-text-\[34px\] {
  font-size: 34px
}

.acu-text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.acu-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.acu-font-bold {
  font-weight: 700
}

.acu-font-light {
  font-weight: 300
}

.acu-font-medium {
  font-weight: 500
}

.acu-font-normal {
  font-weight: 400
}

.acu-font-semibold {
  font-weight: 600
}

.acu-font-thin {
  font-weight: 100
}

.acu-uppercase {
  text-transform: uppercase
}

.acu-capitalize {
  text-transform: capitalize
}

.acu-italic {
  font-style: italic
}

.acu-leading-relaxed {
  line-height: 1.625
}

.acu-leading-snug {
  line-height: 1.375
}

.acu-tracking-tight {
  letter-spacing: -0.025em
}

.acu-text-\[\#777\] {
  --tw-text-opacity: 1;
  color: rgb(119 119 119 / var(--tw-text-opacity, 1))
}

.acu-text-\[\#888\] {
  --tw-text-opacity: 1;
  color: rgb(136 136 136 / var(--tw-text-opacity, 1))
}

.acu-text-\[\#94A3B8\] {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity, 1))
}

.acu-text-\[\#999\] {
  --tw-text-opacity: 1;
  color: rgb(153 153 153 / var(--tw-text-opacity, 1))
}

.acu-text-\[\#B4B4B4\] {
  --tw-text-opacity: 1;
  color: rgb(180 180 180 / var(--tw-text-opacity, 1))
}

.acu-text-\[\#D63638\] {
  --tw-text-opacity: 1;
  color: rgb(214 54 56 / var(--tw-text-opacity, 1))
}

.acu-text-\[\#bbb\] {
  --tw-text-opacity: 1;
  color: rgb(187 187 187 / var(--tw-text-opacity, 1))
}

.acu-text-\[\#fff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.acu-text-\[--ac-link\] {
  color: var(--ac-link)
}

.acu-text-\[white\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.acu-text-acbutton {
  color: var(--ac-button-color)
}

.acu-text-link {
  color: var(--ac-link)
}

.acu-text-notification-red {
  color: var(--ac-notification-red)
}

.acu-text-pink {
  --tw-text-opacity: 1;
  color: rgb(233 66 110 / var(--tw-text-opacity, 1))
}

.acu-underline {
  text-decoration-line: underline
}

.acu-no-underline {
  text-decoration-line: none
}

.acu-opacity-50 {
  opacity: 0.5
}

.acu-shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.acu-shadow-\[0px_1px_2px_rgba\(16\,24\,40\,0\.1\)\] {
  --tw-shadow: 0px 1px 2px rgba(16,24,40,0.1);
  --tw-shadow-colored: 0px 1px 2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.acu-blur-\[1px\] {
  --tw-blur: blur(1px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.acu-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.acu-\@container\/panel {
  container-type: inline-size;
  container-name: panel
}

.acu-\@container\/setting {
  container-type: inline-size;
  container-name: setting
}

.\[key\:string\] {
  key: string
}

.last\:acu-mb-\[0\]:last-child {
  margin-bottom: 0
}

.last\:acu-border-b-0:last-child {
  border-bottom-width: 0px
}

.last\:acu-pb-\[0\]:last-child {
  padding-bottom: 0
}

.focus-within\:acu-shadow-\[0_0_0_2px_\#2271b1\]:focus-within {
  --tw-shadow: 0 0 0 2px #2271b1;
  --tw-shadow-colored: 0 0 0 2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.hover\:acu-bg-\[\#fafafa\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity, 1))
}

.hover\:acu-bg-\[white\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.hover\:acu-text-\[\#fff\]:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.hover\:acu-text-link-hover:hover {
  color: var(--ac-link-hover)
}

.hover\:acu-text-notification-blue:hover {
  color: var(--ac-notification-blue)
}

.hover\:acu-text-notification-red:hover {
  color: var(--ac-notification-red)
}

.acu-group:focus-within .group-focus-within\:acu-visible {
  visibility: visible
}

.acu-group:hover .group-hover\:acu-visible {
  visibility: visible
}

.acu-group:hover .group-hover\:acu-block {
  display: block
}

@container setting (min-width: 500px) {
  .\@\[500px\]\/setting\:acu-flex {
    display: flex
  }

  .\@\[500px\]\/setting\:acu-w-1\/3 {
    width: 33.333333%
  }
}

@container panel (min-width: 650px) {
  .\@\[650px\]\/panel\:acu-flex {
    display: flex
  }
}

@container (min-width: 650px) {
  .\@\[650px\]\:acu-mr-6 {
    margin-right: 30px
  }

  .\@\[650px\]\:acu-w-\[240px\] {
    width: 240px
  }
}

@media (min-width: 782px) {
  .md\:acu-top-\[32px\] {
    top: 32px
  }

  .md\:acu-flex-row {
    flex-direction: row
  }

  .md\:acu-items-center {
    align-items: center
  }

  .md\:acu-px-\[50px\] {
    padding-left: 50px;
    padding-right: 50px
  }
}

@media (min-width: 960px) {
  .lg\:acu-mr-6 {
    margin-right: 30px
  }

  .lg\:acu-flex {
    display: flex
  }

  .lg\:acu-w-\[200px\] {
    width: 200px
  }

  .lg\:acu-py-2 {
    padding-top: 10px;
    padding-bottom: 10px
  }

  .lg\:acu-pr-8 {
    padding-right: 40px
  }

  .lg\:acu-pt-1 {
    padding-top: 5px
  }
}

@media (min-width: 1280px) {
  .xl\:acu-mr-\[360px\] {
    margin-right: 360px
  }

  .xl\:acu-block {
    display: block
  }

  .xl\:acu-flex {
    display: flex
  }

  .xl\:acu-w-1\/2 {
    width: 50%
  }

  .xl\:acu-w-\[270px\] {
    width: 270px
  }

  .xl\:acu-w-\[320px\] {
    width: 320px
  }

  .xl\:acu-flex-row {
    flex-direction: row
  }

  .xl\:acu-gap-6 {
    gap: 30px
  }

  .xl\:acu-gap-8 {
    gap: 40px
  }
}

@media (min-width: 1450px) {
  .\32xl\:acu-mr-\[390px\] {
    margin-right: 390px
  }

  .\32xl\:acu-block {
    display: block
  }

  .\32xl\:acu-flex {
    display: flex
  }

  .\32xl\:acu-hidden {
    display: none
  }

  .\32xl\:acu-w-\[250px\] {
    width: 250px
  }

  .\32xl\:acu-flex-row {
    flex-direction: row
  }

  .\32xl\:acu-px-\[50px\] {
    padding-left: 50px;
    padding-right: 50px
  }

  .\32xl\:acu-pt-\[30px\] {
    padding-top: 30px
  }
}

@media (min-width: 1600px) {
  .\33xl\:acu-min-w-\[450px\] {
    min-width: 450px
  }
}

.rtl\:acu-ml-6:where([dir="rtl"], [dir="rtl"] *) {
  margin-left: 30px
}

.rtl\:acu-mr-\[0\]:where([dir="rtl"], [dir="rtl"] *) {
  margin-right: 0
}

.rtl\:acu-hidden:where([dir="rtl"], [dir="rtl"] *) {
  display: none
}

.rtl\:acu-pl-6:where([dir="rtl"], [dir="rtl"] *) {
  padding-left: 30px
}

.rtl\:acu-text-right:where([dir="rtl"], [dir="rtl"] *) {
  text-align: right
}

.\[\&\.-active\]\:acu-bg-\[\#F1F5F9\].-active {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1))
}

.\[\&\.-active\]\:acu-text-\[\#475569\].-active {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity, 1))
}