/* =Button
-------------------------------------------------------------- */
.column-meta .column_label .inner > a {
	margin-right: 40px;
}
.column-meta .column_label .inner .sorting {
	position: absolute;
	top: 0;
	right: 0;
	font-weight: normal;
	color: #808080;
	font-size: 11px;
}
.column-meta .column_label .inner .sorting.on {
	color: #333333;
	color: #21759B;
}