/* =Button
-------------------------------------------------------------- */
.column-meta .column_label .inner .column_label_meta .sorting {
	font-weight: normal;
	color: #808080;
	font-size: 11px;
}
.column-meta .column_label .inner .column_label_meta .sorting.on {
	font-weight: bold;
	color: #333333;
}