.ac-column {
	border-bottom: 1px solid #CBD5E1;

	.ac-column-header {
		display: flex;
		padding: 10px 30px;
		align-items: center;

		&__label {
			flex-grow: 1;
			color: var(--ac-link);
			cursor: pointer;
		}

		&__actions {
			justify-content: right;
			display: flex;
			align-items: center;
			gap: 5px;
		}

		&__open-indicator {
			width: 30px;
			display: flex;
			justify-content: right;

			.ac-open-indicator {
				background: none;
				border: none;
			}
		}

	}

	&.opened .ac-column-header {
		border-bottom: 2px solid #CBD5E1;
		border-top: 1px solid #CBD5E1;
		background-color: #EAF2FA;
	}

	.ac-column-settings {
		padding: 20px 0;
	}
}



.ac-open-indicator {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	transition: all .4s;
	cursor: pointer;
}

.ac-open-indicator.-open {
	transform: rotate(180deg);
}

.ac-header-toggle {
	border: 1px solid #C3CBD7;
	cursor: pointer;
	width: 34px;
	height: 34px;
	background: transparent;
	color: #C3CBD7;
	border-radius: 5px;
}

.ac-header-toggle.-active {
	background: #E2E8F0;
	border-color: #E2E8F0;
	color: #475569;
}
