.acu-mb-4 {
  margin-bottom: 20px
}

.acu-mb-1 {
  margin-bottom: 5px
}

.acu-mb-5 {
  margin-bottom: 25px
}

.acu-mb-6 {
  margin-bottom: 30px
}

.acu-block {
  display: block
}

.acu-flex {
  display: flex
}

.acu-grow {
  flex-grow: 1
}

.acu-pl-2 {
  padding-left: 10px
}

.acu-pt-3 {
  padding-top: 15px
}

.\[key\:string\] {
  key: string
}