/* =RTL language
-------------------------------------------------------------- */
body.rtl {

	.button.loading {
		padding-left: 25px;
		padding-right: 0;

		span {
			left: 6px;
			right: auto;
		}
	}

	.ac-admin__main {

		// Columns
		.ac-columns {
			.ac-column {

				.ac-setting-input {
					.checkbox-labels>label,
					.radio-labels>label {
						padding-right:0;
						padding-left: 10px;
						display: inline-block;
					}
				}

				// Column Header
				.column-meta {
					img {
						margin-left: 3px;
						margin-right: 0;
					}

					.column_label {
						.inner {
							> a.remove-button {
								margin-right: 12px;
								margin-left: 0;
							}

							.meta {
								float: left;
							}
						}

						span.vers {
							float: right;
						}
					}

					.column_type {
						text-align: left;
						padding-left: 0;
						padding-right: auto;
					}

					span.vers .comment-grey-bubble {
						float: left;
					}
				}

				.column-form {
					table tr {
						&.column_image_size td.input label input {
							margin-left: 3px;
							margin-right: 0;
						}

						td.label {
							p.description {
								right: 0;
								left: auto;
							}

							a.more-info {
								float: left;
							}
						}
					}

					div.description {
						float: right;
					}

					div.input-width-range {
						float: right;
					}

					a.help {
						float: left;
					}
				}
			}
		}

		// Footer
		.column-footer {
			.order-message {
				float: right;
				padding-right: 22px;
				padding-left: 0;
				margin-right: 8px;

				.order-message__icon {
					left: inherit;
					right: 0;
					transform: scaleX(-1);
				}
			}

			.button-container {
				float: left;
			}

			.submit {
				display: none;
			}
		}
	}

	.cpac-placeholder {
		padding: 5px 0 7px 4px;
	}

	.cpac_export .ms-container .ms-selection {
		float: left;
	}

	.ac-column-setting td.col-label .ac-pointer {
		right: inherit;
		left: 4px;
	}

	.ac-setting-input-width {
		div.description { direction: ltr; }
		div.unit-select {
			left: 0;
			right: inherit;
			.radio-labels label { margin-right: 0; padding-left: 0 !important;}
		}
	}


	.ac-section-group.-tools {
		.ac-section.-export {
			margin-right:0;
			margin-left: 27px;
		}
	}

	.ac-setbox__row a.ac-pointer.instructions {
		right: inherit;
		left: 10px;
	}

	.ac-column-setting--label .ac-setting-input__container .ac-setting-label-icon {
		right: 2px;
		padding-left: 4px;
	}

	.ac-setbox {
		.radio-labels {
			label { display: inline-block; }
		}
	}

}