$border-gray-darker: darken(#d1d1d1, 2);
$border-gray-dark: darken(#E1E1E1, 1);
$border-gray: darken(#f0f0f0, 3);

$bg-gray-dark: #eaeaea;
$bg-gray: #f5f5f5;
$bg-gray-light: #fcfcfc;

$bg-red-light: #ffebe8;

$red: #BC0B0B;
$red-light: #f00;

$ac-dark: #3d4350;
$ac-pink: #e9426e;
$ac-yellow: #FFEE85;
$ac-green: #02DEDE;

$wp-color-notification: #d54e21; // orange
$wp-color-error: #dc3232; // red
$wp-color-warning: #ffb900; // yellow
$wp-color-success: #46b450; // green

$wp-color-link: #0073aa;
$wp-color-link-hover: #00a0d2;

$wp-color-red-bg: #fef7f1;
$wp-color-blue-bg: #f7fcfe;

$ac-gray: #8a8a8a;
$ac-light-gray: #bbb;

$wp-color-orange: #ca4a1e;

$ac-gray: #8a8a8a;
$ac-light-gray: #bbb;

$color-text: #23282d;
