$border-gray-darker: darken(#d1d1d1, 2);
$border-gray-dark: darken(#E1E1E1, 1);

$bg-gray-dark: #eaeaea;
$bg-gray: #f5f5f5;
$bg-gray-light: #fcfcfc;

$bg-red-light: #ffebe8;

$ac-dark: #3d4350;
$ac-pink: #e9426e;
$ac-yellow: #FFEE85;
$ac-green: #02DEDE;

$color-text: #23282d;
