@use "colors";
/**
 * Modal
 */
// Prefixed with body because it could leas to issues when using a post type called modal
body .ac-modal {
	position: fixed;
	overflow: auto;
	z-index: 100000;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .5);
	display: none;

	&.-xl {
		--modalWidth: 960px;
	}
	&.-overflow {
		.ac-modal__dialog__content {
			overflow: auto!important;
		}
	}

	&.-active {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__dialog {
		border: 1px solid #787878;
		border-radius: 6px;
		background: #fff;
		position: fixed;
		width: var(--modalWidth,650px);
		max-width: 90%;

		&__header {
			font-size: 16px;
			line-height: 16px;
			color: #555555;
			padding: 17px 20px;
		}

		&__close {
			border-radius: 6px;
			display: inline-block;
			padding: 0;
			margin: 0;
			border: none;
			background: none;
			position: absolute;
			right: 0;
			top: 0;
			width: 52px;
			height: 52px;
			text-align: center;
			color: #555555;
			cursor: pointer;

			&:hover {
				background-color: #f2f2f2;
			}

			span.dashicons {
				font-size: 22px;

				&:hover {
					color: var(--ac-primary-color-hover);
				}
			}
		}

		&__content {
			padding: 20px;
			max-height: calc(100vh - 200px);
			overflow: auto;

			&__lead {
				font-weight: bold;
				font-size: 15px;
				margin-top: 5px;
				margin-bottom: 25px;
				color: #6D6D6D;
			}

			&.-p0 {
				padding: 0 !important;
			}
			&.-accent {
				border-top: 1px solid #DBDBDB;
				background: #F9F9F9;
			}
			&.-hide {
				display: none;
			}
		}

		&__list {
			li {
				&:before {
					content: '\f147';
					font-family: Dashicons;
					position: absolute;
					left: 0;
					top: 0;
					color: #3D4350;
				}

				&:nth-child(2n) {
					color: colors.$ac-pink;
				}

				position: relative;
				padding-left: 25px;
				font-weight: 400;
				font-size: 16px;
				letter-spacing: 0.5px;
				margin-bottom: 10px;
			}
		}

		&__footer {
			border-radius: 0 0 6px 6px;
			padding: 12px 20px;
			border-top: 1px solid #DBDBDB;
			background: #F9F9F9;
			font-size: 13px;


			.button {
				margin-left: 0;
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	&.-blocking {
		background: #E3E7EB;
	}

	@media only screen and (max-width: 720px) {
		&__dialog {
			&__footer {
				&__content {
					display: block;
				}

				.button {
					margin-left: 0;
					margin-top: 10px;
				}
			}
		}
	}

	.ac-modal-footer-actions {
		display: flex;

		&__info {
			flex-grow: 1;
			display: flex;
			align-items: center;
		}
	}
}