.ac-ls-settings {
	.select2 {
		margin-bottom: 10px;

		input {
			min-height: 0;
		}

		li {
			margin-bottom: 0;
		}
	}

	.row.users {
		.select2 {
			margin-bottom: 0;
		}
	}

	select.sorting_order {
		margin-bottom: 0;
	}

	&-mockup {
		position: relative;

		.ac-setbox {

			&__row__fields {
				filter: blur(1.5px);
			}

		}
	}
}

.ac-unlock-modal {
	background: #FFFFFF;
	border: 1px solid #D0CECE;
	box-shadow: 0 0 19px 0 rgba(0, 0, 0, 0.44);
	position: absolute;
	right: calc(30% - 100px);
	top: 50%;
	margin-top: -20px;
	border-radius: 4px;
	padding: 12px;
	z-index: 2;

	span {
		margin-right: 5px;
		color: var(--ac-pink-color);
		transform: translateY( 4px );
	}

	.-pink {
		margin-left: 10px;
		padding-left: 20px;
		padding-right: 20px;
	}
}