.ac-setbox {
	$e: &;
	-webkit-font-smoothing: antialiased;
	margin-top: 30px;

	&__header {
		padding: 10px;
		position: relative;
		cursor: pointer;

		&__title {
			font-size: 15px;
			font-weight: bold;

			small {
				font-size: 14px;
				font-weight: 300;
				color: #72777C;
			}
		}

		&:after {
			content: "";
			position: absolute;
			right: 20px;
			top: 50%;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
			border-bottom: 6px solid #000;
			transition: all .2s;
			margin-top: -4px;

		}
	}

	&__row {
		$row: &;
		background: #fff;

		&__th, &__fields {
			border-bottom: 1px solid #dfdfdf;
		}

		&__th {
			background: #f5f5f5;

			padding: 10px;
			border-right: 1px solid #dedede;

			label {
				display: block;
				font-weight: bold;
				margin-bottom: 5px;
			}

			small {
				color: #72777C;
				font-size: 12px;
				line-height: 17px;
			}
		}

		&__fields {
			flex: auto;

			&__inner {
				padding: 15px;
			}

			select {
				width: 100%;
				margin-bottom: 10px;
			}
		}

		@media screen and (min-width: 900px){
			display: flex;
			&__th {
				flex: 0 0 230px;
			}
			&__fields {
				flex: auto;
			}
			&.-sub {
				display: block;
				#{$row}__th,
				#{$row}__fields {
					flex: 100%;
				}
			}
		}
		@media screen and (min-width: 1150px){
			&.-sub {
				display: flex;
				#{$row}__th,
				#{$row}__fields {
					flex: 100%;
				}
			}
		}
	}

	.checkbox-labels,
	.radio-labels {
		> label {
			padding-right: 10px;
			vertical-align: top;
		}

		&.vertical {
			input[type=radio] {
				margin-right: 6px;
			}

			> label {
				display: block;
				margin-bottom: 5px;
			}
		}
	}

	&.-closed {
		#{$e}__header {
			&:after {
				transform: rotate(180deg);
			}
		}

		#{$e}__row {
			display: none;
		}
	}
}

.ac-ls-settings {
	.select2 {
		margin-bottom: 10px;

		input {
			min-height: 0;
		}

		li {
			margin-bottom: 0;
		}
	}
}