$cpacicon-bulk-edit: "\ea01";
$cpacicon-delete: "\ea02";
$cpacicon-download: "\ea03";
$cpacicon-draft: "\ea04";
$cpacicon-duplicate: "\ea05";
$cpacicon-filter: "\ea06";
$cpacicon-more: "\ea07";
$cpacicon-move: "\ea08";
$cpacicon-rename: "\ea09";
$cpacicon-segment: "\ea0a";
$cpacicon-smart-filter: "\ea0b";

@font-face {
    font-family: "cpac_icons";
    src:
        url("../fonts/cpac_icons.woff2?v=955237") format("woff2"),
        url("../fonts/cpac_icons.woff?v=928084") format("woff");
    font-style: normal;
    font-weight: 400;
}

%cpacicon, [class^="cpacicon-"], [class*=" cpacicon-"] {
    display: inline-block;
    transform: translate(0, 0);
    text-rendering: auto;
    font: normal normal 400 14px/1 cpac_icons;
    font-size: inherit;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.cpacicon {
    @extend %cpacicon;
}



.cpacicon-bulk-edit::before {
    content: $cpacicon-bulk-edit;
}

.cpacicon-delete::before {
    content: $cpacicon-delete;
}

.cpacicon-download::before {
    content: $cpacicon-download;
}

.cpacicon-draft::before {
    content: $cpacicon-draft;
}

.cpacicon-duplicate::before {
    content: $cpacicon-duplicate;
}

.cpacicon-filter::before {
    content: $cpacicon-filter;
}

.cpacicon-more::before {
    content: $cpacicon-more;
}

.cpacicon-move::before {
    content: $cpacicon-move;
}

.cpacicon-rename::before {
    content: $cpacicon-rename;
}

.cpacicon-segment::before {
    content: $cpacicon-segment;
}

.cpacicon-smart-filter::before {
    content: $cpacicon-smart-filter;
}
