:root {
	--ac-text-color: #23282d;
	--ac-link: #0073aa;
	--ac-link-hover: #0096dd;
	--ac-button-bg: #f6f7f7;
	--ac-button-color: #2271b1;
	--ac-button-border: var(--ac-button-color);
	--ac-button-hover: #0a4b78;
	--ac-primary-color: #2271b1;
	--ac-primary-color-hover: #135e96;

	--ac-notification-red: #d63638;
	--ac-notification-blue: #72aee6;
	--ac-notification-yellow: #dba617;
	--ac-notification-orange: #d54e21;
	--ac-notification-green: #00a32a;

	--ac-border-grey: #ddd;
	--ac-pink-color: #e9426e;

	--ac-form-input-border: #757575;
	--ac-select-hover-bg: #5897fb;
	--ac-table-border: #c3c4c7;
	--ac-table-color: #50575e;

	--acui-border: #CBD5E1
}

:root body.admin-color-coffee {
	--ac-button-color: #32373c;
	--ac-button-border: #8c8f94;
	--ac-primary-color: #c7a589;
	--ac-primary-color-hover: #ccad93;
}

:root body.admin-color-light {
	--ac-button-color: #04a4cc;
	--ac-button-border: #04a4cc;
	--ac-button-hover: #04b0db;
	--ac-primary-color: #04a4cc;
	--ac-primary-color-hover: #04b0db;
}

:root body.admin-color-modern {
	--ac-link: #3858e9;
	--ac-link-hover: #183ad6;
	--ac-button-color: #3858e9;
	--ac-button-border: #3858e9;
	--ac-primary-color: #3858e9;
	--ac-primary-color-hover: #04b0db;
}

:root body.admin-color-blue {
	--ac-button-color: #096484;
	--ac-primary-color: #e1a948;
	--ac-primary-color-hover: #e3af55;
}

:root body.admin-color-ectoplasm {
	--ac-button-color: #a3b745;
	--ac-primary-color: #a3b745;
	--ac-primary-color-hover: #a9bd4f;
}

:root body.admin-color-ocean {
	--ac-button-color: #7e8993;
	--ac-primary-color: #9ebaa0;
	--ac-primary-color-hover: #a7c0a9;
}

:root body.admin-color-sunrise {
	--ac-button-color: #dd823b;
	--ac-button-hover: #db7728;
	--ac-primary-color: #dd823b;
	--ac-primary-color-hover: #df8a48;
}