@use "sass:color";
@use 'wordpress-vars';
@use 'articles';
@use 'admin-variables';
@use 'colors';
@use 'modals';
@use 'webfont';
@use 'components/confirmation';
@use 'components/tooltip';
@use 'components/pointer';
@use 'components/toggle';
@use 'components/forms';
@use 'components/ajax-loader';


body {
	background-color: #F1F5F9;

	#cpac {
		padding: 0;
	}
}

.ac-settings-box {
	margin-bottom: 60px;
	max-width: 800px;

	&-pro-cta {
		p.description {
			font-weight: bold;
		}
	}
}


.ac-pro-list {
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;

	&__item {
		$l: &;
		margin-bottom: 14px;
		position: relative;
		z-index: 1;
		flex: 33%;

		&__label {
			color: #1D2327;
			margin-left: 8px;
			text-decoration: dotted;
			border-bottom: 1px dotted #000;
			text-decoration: none;
			cursor: pointer;
		}

		&__tooltip {
			display: none;
			background: #666;
			color: #fff;
			padding: 15px;
			font-size: 13px;
			line-height: 150%;
		}

		&:hover {
			z-index: 2;

			#{$l}__tooltip {
				display: block;
				position: absolute;
				left: 0;
				top: calc(100% + 5px);
			}
		}

		&.-feature {

			&:before {
				color: var(--ac-pink-color);
				content: "\f132";
				font: normal 16px/0.5 "dashicons";
				speak: none;
				display: inline-block;
				padding: 0;
				top: 5px;
				left: 0;
				position: relative;
				vertical-align: top;
				text-decoration: none !important;
			}
		}
	}
}

h2, h3 {
	&.ac-lined-header {
		display: flex;
		font-weight: normal;
		font-size: 20px;
		width: 100%;
		align-items: center;
		margin-bottom: 30px;

		&:after {
			content: '';

			flex: 100;
			height: 1px;
			background: #D8D8D8;
			margin-left: 23px;
		}
	}
}

/**
 * General
 * ----------------------------------------------------------------------------
 */
#wpcontent {
	body.rtl & {
		padding-right: 0;
	}

}
#cpac {
	a:focus,
	a:active {
		outline: none;
	}
}

body.settings_page_codepress-admin-columns,
body.toplevel_page_codepress-admin-columns {

	#wpbody {
		padding-top: 0;
	}

	.notice {
		display: none;
	}

	#cpac {
		.notice:not(.hidden) {
			display: block;
		}
	}


	#wpcontent {
		padding-left: 0;
	}

	.wrap {
		padding: 40px 10px 0 30px;
		margin: 0;

		.nav-tab-wrapper {
			margin-bottom: 24px;
		}

		.notice {
			margin-bottom: 16px;
		}

	}

	@media only screen and (min-width: 1050px) {
		.wrap {
			padding: 50px 40px 0;
		}
		#screen-meta-links {
			margin-right: 40px;
		}
		#screen-meta {
			margin-left: 20px;
			margin-right: 40px;
		}
	}
	@media only screen and (min-width: 1450px) {
		.wrap {
			padding: 50px 32px 0;
		}
		#screen-meta-links {
			margin-right: 70px;
		}
		#screen-meta {
			margin-left: 50px;
			margin-right: 70px;
		}
	}
}

.ac-admin-nav {
	$e: &;

	margin: 0;
	padding: 0;

	&__item {
		margin: 0;

		&.-active {
			#{$e}__link {
				background: #626979;
			}
		}
		&.-pro {
			a {
				background-color: var(--ac-pink-color);
				.dashicons {
					font-size: 16px;
					transform: translateY('4px');
				}
			}
		}
	}

	&__link {
		text-decoration: none;
		padding: 14px 20px;

		border-radius: 4px;

		&:hover, &:active, &:focus {
			background: #626979;
			color: #fff;
		}
	}

}

.ac-message {
	background: #fff;
	padding: 1px 12px;
	border: 1px solid #ccd0d4;
	border-left-width: 4px;
	margin-bottom: 15px;

	p {
		margin: 0.7em 0;
	}

	&.notice-warning {
		border-left-color: var(--ac-notification-yellow);
	}

	&.notice-error {
		border-left-color: var(--ac-notification-red);
	}

	&.notice-info {
		border-left: 4px solid var(--ac-notification-blue);
	}

	.dashicons {
		color: #8d8d8d;
		margin-right: 5px;
		transform: translateY(-2px);
	}

	&.ac-message--styled {
		border-left: none;
		border-radius: 8px;
		padding-top: 4px;
		padding-left: 20px;
		padding-bottom: 4px;
		margin-top: 0;

		&.notice-info {
			background: #E7EFF9;
			border: 1px solid #9DBAEE;
		}
		&.notice-error {
			background: var(--ac-color-error-alt);
			border: 1px solid var(--ac-notification-red)
		}
		p {
			margin: 6px 0;
		}
	}

	&.ac-message--icon {
		display: flex;
		align-items: center;
		gap: 10px;

		.dashicons {
			transform: translateY(0);
		}
		&.notice-info .dashicons {
			color: #0072AA;
		}

	}
}


.ac-badge {
	display: inline-block;
	background: var(--ac-notification-orange);
	border-radius: 10px;
	font-size: 9px;
	line-height: 17px;
	padding: 0 6px;
	margin: -2px 0 0 4px;
	vertical-align: middle;
	color: #fff;
	font-weight: 600;
}

a.external {
	&:after {
		content: "\f504";
		display: inline-block;
		margin-left: 4px;
		font-size: 17px;
		color: #797979;
		line-height: 1;
		font-family: dashicons, serif;
		text-decoration: none;
		font-weight: normal;
		font-style: normal;
		vertical-align: top;
		text-align: center;
	}
}

span.dashicons {
	&.flip {
		&:before {
			transform: scale(-1, 1);
			display: inline-block;
		}
	}

	&.yellow {
		color: var(--ac-notification-yellow);
	}

	&.orange {
		color: var(--ac-notification-orange);
	}

	&.red {
		color: #dc3232;
	}

	&.green {
		color: #46b450;
	}

	&.light-gray {
		color: #bbb;
	}

	&.gray {
		color: #8a8a8a;
	}

	&.blue {
		color: #0073aa;
	}

	&.light-blue {
		color: #00a0d2;
	}
}

/**
 * Button
 * ----------------------------------------------------------------------------
 */
.button.loading {
	padding-right: 25px;
	position: relative;
}

.wp-core-ui .button-primary.-pink {
	background: colors.$ac-pink;
	border-color: color.adjust(colors.$ac-pink, $lightness: -3%);
}

/**
 * Menu
 * ----------------------------------------------------------------------------
 */
div.menu {
	position: relative;
	padding: 0;
	margin-top: 16px;
	margin-bottom: 16px;

	select {
		display: inline-block;
		margin: 0;
	}

	.spinner {
		display: none;
		float: none;
		visibility: visible;
		margin: 0 0 0 14px;
	}

	.view-link,
	.view-link:active {
		display: inline-block;
		margin: 0 0 0 12px;
		top: 2px;
	}
}

/**
 * Table
 * ----------------------------------------------------------------------------
 */
table.ac-form-table {
	max-width: 1100px;
	margin-top: 20px;

	> tbody > tr > td,
	> tbody > tr > th {
		vertical-align: top;
	}

	&.settings {
		tr {
			th {
				h2 {
					margin: 0;
				}

				font-weight: normal;
			}

			td {
				padding-top: 58px;
			}
		}
	}

	.general {
		form {
			div.checkbox-labels {
				margin-bottom: 6px;
			}

			p.save-button {
				margin-top: 10px;
			}
		}

	}
}

.ac-section-group {
	&.-start {
		max-width: 600px;
	}
}

.ac-section {
	$e: &;
	background: #F5F5F5;
	margin-bottom: 28px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	&__header {
		background: #fff;
		padding: 13px 14px;
		border-bottom: 1px solid var(--ac-border-grey);
		position: relative;

		&__title {
			font-size: 15px;
			margin: 0;
			font-weight: bold;
		}
	}

	&__body {
		padding: 16px 16px;
	}

	p {
		margin: 0 0 1em 0;
		max-width: 800px;
	}

	&.-closable {
		#{$e}__header {
			padding-right: 30px;
			cursor: pointer;

			&:after {
				content: "";
				position: absolute;
				right: 20px;
				top: 50%;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 6px solid #000;
				transition: all .2s;
				margin-top: -4px;

			}
		}

		&.-closed {
			#{$e}__header {
				&:after {
					transform: rotate(180deg);
				}
			}

			#{$e}__body {
				display: none;
			}
		}

	}
}

.ac-general-setting-row {
	margin-bottom: 30px;

	.ac-ajax-loading {
		position: relative;
	}

	.ac-toggle-v2 .ac-ajax-loading {
		position: absolute;
	}

	p {
		margin-top: 5px;
	}
}

.ac-general-setting-row__layout {
	display: flex;
	align-items: center;
}