@import 'admin-variables';
//@import 'settings';
@import 'components/svelte-select';

@import 'list-screen-settings/buttons';
@import 'list-screen-settings/columns';
@import 'list-screen-settings/column';
@import 'list-screen-settings/column-settings';

body.admin-columns__columns {
	background-color: #F1F5F9;

	#cpac {
		padding: 0 !important;
	}
}

#wpbody-content {
	padding-bottom: 10px;
	@media (min-width: 1450px) {
		background: linear-gradient(to right, #EAF0F6 0px, #EAF0F6 300px, transparent 250px);
	}
}


.ac-admin-page {
	-webkit-font-smoothing: antialiased;

	.ac-admin-page-menu {
		flex-shrink: 0;
	}

	.ac-admin-page-main {
		flex-grow: 1;
	}

}


.ac-menu-group {
	margin-bottom: 30px;
	padding: 0;

	&__header {
		position: relative;
		display: block;
		width: 100%;
		text-align: left;
		background: none;
		border: none;
		cursor: pointer;
		border-radius: 5px;
		padding: 5px;
		font-weight: bold;

		&__indicator {
			position: absolute;
			right: 10px;
			top: 50%;
			font-size: 16px;
			color: #888;
			width: 16px;
			height: 16px;
			margin-top: -8px;
			transition: all .2s;
		}

		&.closed {
			.ac-menu-group__header__indicator {
				transform: rotate(180deg);
			}
		}

		&:hover {
			background: #fff;
		}
	}
}

.ac-menu-group-list {
	.ac-menu-group-list__item {
		margin-left: 28px;
	}


	a {
		text-decoration: none;
	}

	.ac-menu-group-list__container {
		position: relative;
		color: var(--ac-text-color);
		display: block;
		border-radius: 5px;

		&:hover {
			background: #fff;
		}
	}

	.ac-menu-group-list__link {
		color: var(--ac-text-color);
		display: block;
		text-decoration: none;
		padding: 7px 10px;
		border-radius: 5px;
		position: relative;

		&.active {
			background: #E2E8F0;
			color: #FE3D6C;
			font-weight: 500;
		}

		&:hover {
			background: #fff;

			.ac-menu-group-list__favorite {
				display: block;
			}

		}
	}

	&__favorite {
		display: none;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-10px);
	}
}

.ac-menu-image {
	color: #aaa;
	width: 25px;
	height: 25px;
	margin-right: 5px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
	background-position: center;
	background-repeat: no-repeat;
	transform: translateY(-1px);
}

.ac-probanner {
	ul {
		li {
			a {
				color: #fff;
				text-decoration: none;
				position: relative;
				padding-left: 25px;
				font-size: 13px;


				&:before {
					font-weight: bold;
					content: "✓";
					font-size: 16px;
					position: absolute;
					left:0; top: 0;
				}
			}
		}
	}
}