@use 'admin-variables';
@use 'components/svelte-select';
@use 'list-screen-settings/buttons';
@use 'list-screen-settings/column';
@use 'list-screen-settings/column-settings';


#wpbody-content {
	padding-bottom: 10px;
	@media (min-width: 1450px) {
		background: linear-gradient(to right, #EAF0F6 0px, #EAF0F6 300px, transparent 250px);

		.rtl & {
			background: linear-gradient(to left, #EAF0F6 0px, #EAF0F6 300px, transparent 250px);
		}
	}
}

@media (min-width: 1450px) {
	.acp-columns-notices {
		&:has(> :not(.wp-header-end)) {
			padding-top: 30px;
		}
	}
}


.ac-admin-page {
	-webkit-font-smoothing: antialiased;

	.ac-admin-page-menu {
		flex-shrink: 0;
	}

	.ac-admin-page-main {
		flex-grow: 1;
	}

}

.ac-probanner {
	ul {
		li {
			a {
				color: #fff;
				text-decoration: none;
				position: relative;
				padding-left: 25px;
				font-size: 13px;

				&:before {
					font-weight: bold;
					content: "✓";
					font-size: 16px;
					position: absolute;
					left: 0;
					top: 0;
				}
			}

		}

		&.-special li a {
			color: #FDEF95;
			font-weight: bold;
			&:before {
				content: '+'
			}

		}
	}
}