/* =Colors
-------------------------------------------------------------- */
$addon-color-blue: #085079;
$addon-color-lightblue: #0069a4;
$addon-color-lightyellow: #fff8e5;
$addon-color-link: #0073aa;

/* =Addons
-------------------------------------------------------------- */
.ac-addon {
	display: inline-block;
	margin-right: 16px;
	float: left;

	&.group-default {
		float: none;
		clear: both;
		display:table; // forces new line
	}

	h2 {
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
	}

	ul {
		overflow: hidden;

		li {
			width: 200px;
			background: #FFF;
			float: left;
			margin-right: 16px;
			margin-bottom: 16px;
			border: 1px solid #DDD;
			-webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
			-moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
			box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				-webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
				-moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
				box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
			}

			a {
				color: #444;
			}

			.addon-header {
				display: table;
				width: 100%;
				height: 125px;
				text-align: center;
				vertical-align: middle;
				border-top: 1px solid #DDD;
				background: #0069a4;
				background: -moz-radial-gradient(center, ellipse cover, $addon-color-lightblue 0%, $addon-color-blue 100%);
				background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $addon-color-lightblue), color-stop(100%, $addon-color-blue));
				background: -webkit-radial-gradient(center, ellipse cover, $addon-color-lightblue 0%, $addon-color-blue 100%);
				background: -o-radial-gradient(center, ellipse cover, $addon-color-lightblue 0%, $addon-color-blue 100%);
				background: -ms-radial-gradient(center, ellipse cover, $addon-color-lightblue 0%, $addon-color-blue 100%);
				background: radial-gradient(ellipse at center, $addon-color-lightblue 0%, $addon-color-blue 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$addon-color-lightblue', endColorstr='$addon-color-blue', GradientType=1);

				.inner {
					display: table-cell;
					vertical-align: middle;
					padding: 15px 20px;

					h3 {
						padding: 0 16px;
						color: #FFF;
						line-height: 150%;
					}

					img {
						display: inline-block;
						max-height: 52px;
						max-width: 100%;
					}
				}
			}

			.addon-notice {
				background-color: $addon-color-lightyellow;
				margin: 0;
				padding: 15px;
				//font-style: italic;

				a {
					font-weight: bold;
					text-decoration: none;
					color: $addon-color-link;
				}
			}

			.addon-content {
				width: 100%;
				padding: 25px 15px;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				min-height: 162px;

				> *:first-child {
					margin-top: 0;
				}

				> *:last-child {
					margin-bottom: 0;
				}
			}

			.addon-actions {
				background: #eee;
				border-top: 1px solid #ddd;
				padding: 8px;
				overflow: hidden;

				span.active,
				span.active:hover {
					display: inline-block;
					height: 28px;
					line-height: 28px;
					cursor: default;
					border-color: lighten(#46b450, 10);
					color: darken(#46b450, 10);
					margin-left: 8px;

					&:before {
						content: "\f147";
						font-family: 'dashicons', sans-serif;
						vertical-align: middle;
						font-size: 17px;
						margin: -2px 3px 0 -5px;
					}
				}
			}

			&.ac-addon-types .addon-header .inner,
			&.ac-addon-buddypress .addon-header .inner {
				img {
					max-height: 68px;
				}
			}
		}
	}
}