@import 'admin-variables';
@import '_modals';

/**
 * General
 * ----------------------------------------------------------------------------
 */
#cpac {
	a:focus,
	a:active {
		outline: none;
	}
}

.wrap {

	.nav-tab-wrapper {
		margin-bottom: 24px;
	}

	.notice {
		margin-top: 16px;
		margin-bottom: 16px;
	}

}

.ac-badge {
	display: inline-block;
	background: #d54e21;
	border-radius: 10px;
	font-size: 9px;
	line-height: 17px;
	padding: 0 6px;
	margin: -1px 0 0 4px;
	vertical-align: middle;
	color: #fff;
	font-weight: 600;
}

a.external {
	&:after {
		content: "\f504";
		display: inline-block;
		margin-left: 4px;
		font-size: 17px;
		color: #797979;
		line-height: 1;
		font-family: dashicons, serif;
		text-decoration: none;
		font-weight: normal;
		font-style: normal;
		vertical-align: top;
		text-align: center;
	}
}

/**
 * Button
 * ----------------------------------------------------------------------------
 */
.button.loading {
	padding-right: 25px;
	position: relative;
}

/**
 * Message
 * ----------------------------------------------------------------------------
 */
// TODO: remove
.cpac_message {
	&.error.warning {
		border-left: 4px solid #ffba00;
	}
}

/**
 * Menu
 * ----------------------------------------------------------------------------
 */
.menu {
	position: relative;
	padding: 0;
	margin-top: 16px;
	margin-bottom: 16px;

	select {
		display: inline-block;
		margin: 0;
	}

	.spinner {
		display: none;
		float: none;
		visibility: visible;
		margin: 0 0 0 14px;
	}

	.view-link,
	.view-link:active {
		display: inline-block;
		margin: 0 0 0 12px;
		top: 2px;
	}
}

/**
 * Table
 * ----------------------------------------------------------------------------
 */
table.ac-form-table {
	max-width: 1100px;
	margin-top: 20px;

	> tbody > tr > td,
	> tbody > tr > th {
		vertical-align: top;
	}

	&.settings {
		tr {
			th {
				h2 {
					margin: 0;
				}

				font-weight: normal;
			}

			td {
				padding-top: 58px;
			}
		}
	}
}

/**
 * WP Pointer
 * ----------------------------------------------------------------------------
 */
.wp-pointer-content {
	overflow: hidden;

	ol {
		margin-left: 1.5em;
		padding: 0 15px;
	}
}

.wp-pointer-right {
	margin-right: 15px;
}

// WP Pointer
.wp-pointer.noclick {
	.wp-pointer-buttons {
		display: none;
	}
}

/* =RTL language
-------------------------------------------------------------- */
body.rtl {
	.wp-pointer-right {
		margin-left: 15px;
		margin-right: 0;

		ol {
			margin-right: 1.5em;
			margin-left: 0;
		}
	}

	.button.loading {
		padding-left: 25px;
		padding-right: 0;

		span {
			left: 6px;
			right: auto;
		}
	}

	.ac-left {
		float: right;

		// Columns
		.ac-columns {
			.ac-column {

				// Column Header
				.column-meta {
					img {
						margin-left: 3px;
						margin-right: 0;
					}

					.column_label {
						.inner {
							> a.remove-button {
								margin-right: 12px;
								margin-left: 0;
							}

							.meta {
								float: left;
							}
						}

						span.vers {
							float: right;
						}
					}

					.column_type {
						text-align: left;
						padding-left: 0;
						padding-right: auto;
					}

					span.vers .comment-grey-bubble {
						float: left;
					}
				}

				.column-form {
					table tr {
						&.column_image_size td.input label input {
							margin-left: 3px;
							margin-right: 0;
						}

						td.label {
							p.description {
								right: 0;
								left: auto;
							}

							a.more-info {
								float: left;
							}
						}
					}

					div.description {
						float: right;
					}

					div.input-width-range {
						float: right;
					}

					a.help {
						float: left;
					}
				}
			}
		}

		// Footer
		.column-footer {
			.order-message {
				float: right;
				padding-right: 22px;
				padding-left: 0;
				margin-right: 8px;

				.order-message__icon {
					left: inherit;
					right: 0;
					transform: scaleX(-1);
				}
			}

			.button-container {
				float: left;
			}

			.submit {
				display: none;
			}
		}
	}

	.ac-right {
		float: left;
		margin-left: -300px;
		margin-right: 0;
	}

	.cpac-placeholder {
		padding: 5px 0 7px 4px;
	}

	.cpac_export .ms-container .ms-selection {
		float: left;
	}
}

.ac-wp-pointer {
	img {
		max-width: calc(100% - 20px);
		height: auto;
		margin: 10px;
		margin-top: 0;
	}
}


.ac-section-group {

}

.ac-section {
	$e: &;
	background: #F5F5F5;
	margin-bottom: 28px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	&__header {
		background: #fff;
		padding: 10px 16px;
		border-bottom: 1px solid #E1E1E1;
		position: relative;

		&__title {
			font-size: 15px;
			margin: 0;
			font-weight: bold;
		}
	}

	&__body {
		padding: 16px 16px;
	}

	p {
		margin: 0 0 1em 0;
		max-width: 800px;
	}

	&.-closable {
		#{$e}__header {
			padding-right: 30px;
			cursor: pointer;

			&:after {
				content: "";
				position: absolute;
				right: 20px;
				top: 50%;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 6px solid #000;
				transition: all .2s;
				margin-top: -4px;

			}
		}

		&.-closed {
			#{$e}__header {
				&:after {
					transform: rotate(180deg);
				}
			}

			#{$e}__body {
				display: none;
			}
		}

	}
}