@import 'admin-variables';
@import 'modals';
@import 'admin-rtl';

/**
 * General
 * ----------------------------------------------------------------------------
 */
#cpac {
	a:focus,
	a:active {
		outline: none;
	}
}

.ac-message {
	background: #fff;
	padding: 1px 12px;
	border: 1px solid #ccd0d4;
	margin-bottom: 15px;

	p {
		margin: 0.5em 0;
	}
}

.wrap {

	.nav-tab-wrapper {
		margin-bottom: 24px;
	}

	.notice {
		margin-top: 16px;
		margin-bottom: 16px;
	}

}

.ac-badge {
	display: inline-block;
	background: #d54e21;
	border-radius: 10px;
	font-size: 9px;
	line-height: 17px;
	padding: 0 6px;
	margin: -1px 0 0 4px;
	vertical-align: middle;
	color: #fff;
	font-weight: 600;
}

a.external {
	&:after {
		content: "\f504";
		display: inline-block;
		margin-left: 4px;
		font-size: 17px;
		color: #797979;
		line-height: 1;
		font-family: dashicons, serif;
		text-decoration: none;
		font-weight: normal;
		font-style: normal;
		vertical-align: top;
		text-align: center;
	}
}

/**
 * Button
 * ----------------------------------------------------------------------------
 */
.button.loading {
	padding-right: 25px;
	position: relative;
}

/**
 * Message
 * ----------------------------------------------------------------------------
 */
// TODO: remove
.cpac_message {
	&.error.warning {
		border-left: 4px solid #ffba00;
	}
}

/**
 * Menu
 * ----------------------------------------------------------------------------
 */
div.menu {
	position: relative;
	padding: 0;
	margin-top: 16px;
	margin-bottom: 16px;

	select {
		display: inline-block;
		margin: 0;
	}

	.spinner {
		display: none;
		float: none;
		visibility: visible;
		margin: 0 0 0 14px;
	}

	.view-link,
	.view-link:active {
		display: inline-block;
		margin: 0 0 0 12px;
		top: 2px;
	}
}

/**
 * Table
 * ----------------------------------------------------------------------------
 */
table.ac-form-table {
	max-width: 1100px;
	margin-top: 20px;

	> tbody > tr > td,
	> tbody > tr > th {
		vertical-align: top;
	}

	&.settings {
		tr {
			th {
				h2 {
					margin: 0;
				}

				font-weight: normal;
			}

			td {
				padding-top: 58px;
			}
		}
	}

	.general {
		form {
			div.checkbox-labels {
				margin-bottom: 6px;
			}

			p.save-button {
				margin-top: 10px;
			}
		}

	}
}

/**
 * WP Pointer
 * ----------------------------------------------------------------------------
 */
.wp-pointer-content {
	overflow: hidden;

	ol {
		margin-left: 1.5em;
		padding: 0 15px;
	}
}

.wp-pointer-right {
	margin-right: 15px;
}

// WP Pointer
.wp-pointer.noclick {
	.wp-pointer-buttons {
		display: none;
	}
}


.ac-wp-pointer {
	img {
		max-width: calc(100% - 40px);
		height: auto;
		margin: 20px;
		margin-bottom: 5px;
		margin-top: 0;
	}

	p.notice {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.wp-pointer-arrow {
		pointer-events: none;
	}
}


.ac-section-group {

}

.ac-section {
	$e: &;
	background: #F5F5F5;
	margin-bottom: 28px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	&__header {
		background: #fff;
		padding: 13px 14px;
		border-bottom: 1px solid #E1E1E1;
		position: relative;

		&__title {
			font-size: 15px;
			margin: 0;
			font-weight: bold;
		}
	}

	&__body {
		padding: 16px 16px;
	}

	p {
		margin: 0 0 1em 0;
		max-width: 800px;
	}

	&.-closable {
		#{$e}__header {
			padding-right: 30px;
			cursor: pointer;

			&:after {
				content: "";
				position: absolute;
				right: 20px;
				top: 50%;
				border-left: 4px solid transparent;
				border-right: 4px solid transparent;
				border-bottom: 6px solid #000;
				transition: all .2s;
				margin-top: -4px;

			}
		}

		&.-closed {
			#{$e}__header {
				&:after {
					transform: rotate(180deg);
				}
			}

			#{$e}__body {
				display: none;
			}
		}

	}
}