/* =Addons
-------------------------------------------------------------- */
.cpac-addons li {
	width: 200px;
	background: #FFF;
	float: left;
	margin-right: 16px;
	margin-bottom: 16px;
	border: 1px solid #DDD;
	-webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);

	&:hover {
		-webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
		box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
	}

	a {
		color: #444;
	}

	.cpac-addon-content {
		display: table;
		width: 100%;
		height: 125px;
		text-align: center;
		vertical-align: middle;
		border-top: 1px solid #DDD;
		background: #0069a4;
		background: -moz-radial-gradient(center, ellipse cover, #0069a4 0%, #085079 100%);
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #0069a4), color-stop(100%, #085079));
		background: -webkit-radial-gradient(center, ellipse cover, #0069a4 0%, #085079 100%);
		background: -o-radial-gradient(center, ellipse cover, #0069a4 0%, #085079 100%);
		background: -ms-radial-gradient(center, ellipse cover, #0069a4 0%, #085079 100%);
		background: radial-gradient(ellipse at center, #0069a4 0%, #085079 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0069a4', endColorstr='#085079', GradientType=1);

		.inner {
			display: table-cell;
			vertical-align: middle;
			padding: 15px 20px;

			h3 {
				padding: 0 16px;
				color: #FFF;
				line-height: 150%;
			}

			img {
				display: inline-block;
				max-height: 40px;
				max-width: 100%;
			}
		}
	}

	.cpac-addon-header {
		width: 100%;
		padding: 25px 15px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}

	.cpac-addon-actions {
		background: #EEE;
		border-top: 1px solid #DDD;
		padding: 8px;

		.cpac-installed:before {
			content: "\f147";
			font-family: 'dashicons', sans-serif;
			vertical-align: middle;
			margin-left: -5px;
			margin-right: 3px;
		}
	}
}