.ac-notice {
	$e : &;
	position: relative;
	min-height: 1%;
	overflow: hidden;
	padding-right: 40px;

	.notice-dismiss {
		text-decoration: none;
	}

	&__dismiss {
		float: right;
		margin: .5em;
	}

	&.review {
		#{$e}__dismiss, .notice-dismiss {
			display: none;
		}
	}

	> div {
		margin: 0.5em 0;
		padding: 2px;
	}

	.dashicons {
		margin-right: 5px;
		transform: translateY(-2px);
		color: #8d8d8d;
	}

}