tr.plugin-update-tr-admin-columns {
	td {
		div {
			border-left: none;
			margin: 5px 20px 15px 40px;

			&.icon {

				p:before {
					display: inline-block;
					font: normal 20px/1 'dashicons';
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					vertical-align: top;
					color: #f56e28;
				}

				// Icons
				&.icon-info p:before {
					content: "\f348";
				}

				&.icon-update p:before {
					content: "\f463";
				}
			}
		}
	}

}